ion-content {
  --background: #6bbde9;
  position: relative;
  padding: 15px 0;
  margin: 0;
  --background: #6bbde9; /* Old browsers */
  --background: -moz-radial-gradient(
    60.17% 29.84% at 50% 50%,
    #6bbde9 0%,
    #2099da 100%
  );
  --background: -webkit-radial-gradient(
    60.17% 29.84% at 50% 50%,
    #6bbde9 0%,
    #2099da 100%
  );
  --background: radial-gradient(
    60.17% 29.84% at 50% 50%,
    #6bbde9 0%,
    #2099da 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbde9', endColorstr='#2099da',GradientType=1 );

  --box-shadow: 0px -6px 7px #2d94c9;

  .top-card {
    background: url(../../../../../assets/images/card-bg.png) no-repeat top
      center;
    margin: 0;
    padding: 0;
    border-radius: 0 0 25px 25px;
    background-size: cover;
    box-shadow: 0 7px 7px #066da0;
    padding: 35px 0 5px;
    // position: sticky;
    // top: 0;
    // z-index: 9999;
    min-height: 180px;
    .title-part {
      // position: sticky;
      // top: 0;
      // z-index: 999 ;
      ion-item {
        --padding-start: 15px;
        --inner-padding-end: 15px;
        align-items: flex-start;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;

        ion-icon {
          color: var(--white-clr);
          font-size: 2rem;
          margin: 0;
          padding: 0;
        }
        ion-label {
          margin: 0;
          padding: 0;
          .logo-head {
            margin: 0;
            padding: 0;
            text-align: center;
            .nil4all span {
              font-size: 0.875rem;
              color: var(--white-clr);
              text-transform: uppercase;
              opacity: 1;
              font-weight: 500;
              margin-top: 0px;
              display: inline-block;
              font-style: italic;
            }
          }
        }
        .notification {
          margin: 0;
          padding: 0;
          position: relative;
          margin-top: 5px;
          img {
            width: 20px;
          }
          span {
            height: 10px;
            width: 10px;
            border-radius: 10px;
            border: 1px solid var(--white-clr);
            position: absolute;
            right: -2px;
            top: -4px;
            background: var(--red-bg);
          }
        }
      }
    }
    .profile-part {
      padding-top: 0px;
      position: relative;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      border: 1px solid var(--white-clr);
      border-radius: 10px;
      margin-top: 10px;
      width: 142px;
      .upload-img{height: 100%; overflow: hidden; max-height: 140px; border-radius: 10px;
        img {
          max-width: 100%;
          border-radius: 10px;
          width: 140px;
          min-height: 140px;
          
          z-index: 99;
          height: auto;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .edit-btn {
        padding: 0;
        text-align: center;
        position: absolute;
        right: 0px;
        left: 0;
        bottom: -25px;
        z-index: 999;
        ion-button {
          cursor: pointer;
          --background: transparent;
          --background-focused: transparent;
          --background-hover: transparent;
          --background-activated: transparent;
          --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), inset 0px 4px 4px #9BD9FF;
          --padding-start: 0rem;
          --padding-end: 0rem;
          height: 52px;
          width: 52px;
          border-radius: 52px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), inset 0px 4px 4px #9BD9FF;
          text-transform: capitalize;
          img {
            height: 52px;
            width: 52px;
            border: 0;
          }
          span {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: inline-block;
            color: var(--white-clr);
            height: fit-content;
            width: 100%;
            padding: 0 12px;
            line-height: 18px;
            img {
              height: 25px;
              width: 25px;
              z-index: 99999;
              position: relative;
              border: 0;
              border-radius: 0;
            }
          }
          &.button-disabled {
            opacity: 1;
            filter: grayscale(1);
          }
          &.ion-focusable {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), inset 0px 4px 4px #9BD9FF;
            --border-radius: 52px;
          }
        }
      }
    }
  }

  .content-part {
    padding: 95px 15px 15px;
    position: relative;
    z-index: 99;
    .input-main {
      padding: 15px 15px;
      background: rgba(var(--white-bg-rgb), 0.7);
      border-radius: 8px;
      box-shadow: 0 -2px 2px var(--white-clr);
      margin-bottom: 10px;
      .input-box {
        margin-bottom: 10px;
        ion-item {position: relative;
          --padding-start: 0;
          --inner-padding-end: 0;
          --background: transparent;
          --background: transparent;
          --background-activated: transparent;
          --background-focused: transparent;
          --background-hover: transparent;
          ion-label {
            color: var(--light-gray);
            font-size: 0.875rem;
            font-weight: 400;
            margin: 0 0 6px;
          }
          ion-input {
            pointer-events: all;
            --background: var(--white-clr);
            border-radius: 10px;
            border: 1px solid var(--theme-one-bg);
            --padding-start: 10px;
            --padding-end: 10px;
            color: var(--black-clr);
            --color: var(--black-clr);
            font-size: 0.875rem;
            background: var(--white-clr);
          }
            .date-icon{margin: 0;
              align-self: center;
              position: absolute;
              right: 10px;
              /* top: 0; */
              bottom: 12px;
              /* margin: auto; */
              z-index: 2;
          }
        
        }
      }
      .check-box {
        margin-bottom: 10px;
        ion-item {
          --padding-start: 0;
          --innerpadding-end: 0;
          --background: transparent;
          --ripple-color: none;
          --background-activated: none;
          --background-focused: none;
          --background-hover: none;
          --background-activated-opacity: 1;
          --background-focused-opacity: 1;
          --background-hover-opacity: 1;
          --ripple-color: none;
          --min-height: 35px;
          ion-checkbox {
            --ripple-color: none;
            margin: 0;
            margin-right: 5px;
            --size: 20px;
            --border-color: var(--black-clr);
            --background-checked: transparent;
            --background: transparent;
            --border-width: 1px;
            --border-color-checked: var(--black-clr);
            --ripple-color: none;
            --border-radius: 6px;
            --checkmark-color: var(--black-clr);
          }
          ion-label {
            word-break: break-word;
            white-space: normal;
            font-size: 0.875rem;
            color: var(--black-clr);
            font-weight: 400;
          }
        }
      }
    }
  }
}

ion-footer {
  background: var(--theme-one-bg);
  ion-toolbar {
    padding-bottom: 3px;
    --border-width: 0;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 0px;
    --padding-bottom: 10px;
    --background: var(--theme-one-bg);
    text-align: center;
    ion-button {
      --background: transparent;
      --background-focused: transparent;
      --background-hover: transparent;
      --background-activated: transparent;
      --box-shadow: none;
      --padding-start: 0rem;
      --padding-end: 0rem;
      margin-bottom: 10px;
      margin-left: 8px;
      margin-right: 8px;
      img {
        width: 40px;
        height: 40px;
      }
      &.button-disabled {
        opacity: 0.5;
      }
    }
  }
}

.buble-part {
  margin: 0;
  padding: 0;
  .dots-bubble {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: inherit;
    overflow: hidden;
    top: 0px;
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .dots {
    position: absolute;
    bottom: -100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 2s infinite ease-in;
    z-index: 99;
  }
  .dots:nth-child(1) {
    width: 25px;
    height: 25px;
    left: 10%;
    animation-duration: 9s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(2) {
    width: 15px;
    height: 15px;
    left: 20%;
    animation-duration: 9s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(3) {
    width: 35px;
    height: 35px;
    left: 35%;
    animation-duration: 12s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 50%;
    animation-duration: 15s;
    animation-delay: 0s;
    border: 2px solid #fff;
  }
  .dots:nth-child(5) {
    width: 25px;
    height: 25px;
    left: 55%;
    animation-duration: 10s;
    animation-delay: 1s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(6) {
    width: 30px;
    height: 30px;
    left: 65%;
    animation-duration: 12s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }
  .dots:nth-child(7) {
    width: 35px;
    height: 35px;
    left: 70%;
    animation-duration: 16s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(8) {
    width: 20px;
    height: 20px;
    left: 80%;
    animation-duration: 10s;
    animation-delay: 2s;
    border: 2px solid #fff;
  }
  .dots:nth-child(9) {
    width: 10px;
    height: 10px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 3s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(10) {
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 13s;
    animation-delay: 4s;
    border: 2px solid #fff;
  }

  .dots:nth-child(20) {
    width: 10px;
    height: 10px;
    left: 20%;
    animation-duration: 12s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(19) {
    width: 25px;
    height: 25px;
    left: 50%;
    animation-duration: 9s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(18) {
    width: 25px;
    height: 25px;
    left: 17%;
    animation-duration: 11s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(17) {
    width: 20px;
    height: 20px;
    left: 25%;
    animation-duration: 15s;
    animation-delay: 0s;
    border: 2px solid #fff;
  }
  .dots:nth-child(16) {
    width: 10px;
    height: 10px;
    left: 27%;
    animation-duration: 10s;
    animation-delay: 1s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(15) {
    width: 5px;
    height: 5px;
    left: 32%;
    animation-duration: 12s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(14) {
    width: 20px;
    height: 20px;
    left: 35%;
    animation-duration: 16s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(13) {
    width: 8px;
    height: 8px;
    left: 40%;
    animation-duration: 10s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }
  .dots:nth-child(12) {
    width: 27px;
    height: 27px;
    left: 35%;
    animation-duration: 9s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(11) {
    width: 32px;
    height: 32px;
    left: 10%;
    animation-duration: 14s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }

  @keyframes rise {
    0% {
      bottom: -100px;
      transform: translateX(0);
    }
    50% {
      transform: translate(100px);
    }
    100% {
      bottom: 1080px;
      transform: translateX(-200px);
    }
  }
}
.dateModal {
  --background: rgba(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;
    --padding-top: 30vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  ion-datetime {
    border-radius: 8px;
  }
}

.error-msg {
  p {
    position: relative;
    padding-left: 20px;
    font-size: 0.8125rem;
    color: var(--red-clr);
    margin: 5px 0 0;
    font-weight: 400;
    img {
      width: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 15px;
      left: 0;
    }
  }
}
.red {
  color: var(--red-clr);
}

.initial {
  position: relative;
  &__span {
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    background-color: #1b4b64;
    margin-left: 0px;
    color: #fff;
    display: flex;
    /* place-items: center; */
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
}
.athlete-bio {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 0  15px;
  & h6 {
    font-size: 0.875rem;
    color: var(--text-black);
    margin: 0;
  }
}
ion-modal.small-modal {
  .modal-wrapper {
    max-width: 70%;
  }
  ion-header {
    --background: transparent;
    background: transparent;
    position: relative;
    padding: 0;
    padding: 15px;
    z-index: 5;
    box-shadow: none;
    border: 0;
    text-align: center;

    h3 {
      color: var(--black-clr);
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
    }

    &::after {
      display: none;
    }
  }
  .inner-content {
    --background: var(--white-bg);
    .main-screen {
      padding: 0 15px;
      text-align: center;
      p {
        font-size: 0.875rem;
        color: var(--black-clr);
        font-weight: 400;
        margin: 0;
        line-height: 22px;
      }
    }
  }

  ion-footer {
    background: var(--white-bg);
    ion-toolbar {
      --border-width: 0;
      --padding-start: 10px;
      --padding-end: 10px;
      --padding-top: 0px;
      --padding-bottom: 10px;
      --background: var(--white-bg);
      text-align: center;
      ion-button {
        --background: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --box-shadow: none;
        --padding-start: 0.5rem;
        --padding-end: 0.5rem;
        img {
          width: 40px;
          height: 40px;
        }
        &.button-disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
