<div class="client-filter-modal payment-flow">
  <ion-header mode="ios">
    <div class="icon-header">
      <img src="assets/icon/header-bubble.png" />
      <h3>Select Payment Option</h3>
    </div>
    <div class="top-noch">
      <img src="assets/images/modal-tope.png" />
    </div>
  </ion-header>

  <div class="inner-content">
    <div class="main-screen">
      <div class="payment-select">
        <ion-radio-group [(ngModel)]="paymentType" mode="md" (ionChange)="PaymentTypeSelect($event)">
          <div class="select-item">
            <ion-item lines="none" mode="md">
              <ion-radio slot="start" value="APPLE_PAYMENT"></ion-radio>
              <ion-label>
                <h5>Apple Pay</h5>
                <p>Balance : <span>$500</span></p>

              </ion-label>
              <img
                slot="end"
                class="checked"
                src="assets/images/apple-pay.svg"
              />
              <img
                slot="end"
                class="unchecked"
                src="assets/images/apple-pay-gray.svg"
              />
            </ion-item>
          </div>

          <div class="select-item">
            <ion-item lines="none" mode="md" >
              <ion-radio slot="start" value="SQUARE_PAYMENT"></ion-radio>
              <ion-label>
                <h5>Credit Card</h5>
              </ion-label>
              <img
                slot="end"
                class="checked"
                src="assets/images/card-icn-white.svg"
              />
              <img
                slot="end"
                class="unchecked"
                src="assets/images/card-icn.svg"
              />
            </ion-item>
            <div *ngIf="paymentType == 'SQUARE_PAYMENT'" class="card-details">

              <div [hidden]=!showPaymentScreen>
                <form id="payment-form">
                  <div id="card-container"></div>
                </form>
                <div id="payment-status-container"></div>
                <!-- <div class="save-card" *ngIf="paymentType=='SQUARE_PAYMENT'">
                  <ion-item lines="none" mode="ios">
                    <ion-label>Save Card</ion-label>
                    <ion-checkbox slot="start" mode="ios"  id="card-button" (ionChange)="CardSaveCheckBox($event)"[(ngModel)]="isChecked"></ion-checkbox>
                  </ion-item>
                </div> -->
  
              </div>

              <div class="new-card-saved" [hidden]=showPaymentScreen>
                <h4> Saved Cards:</h4>
                  <div class="card-main-part" *ngIf="savecard.length !== 0">
                      <div class="card" *ngFor="let card of savecard let i=index" [ngClass]="card.isCardSelected ? 'selected-card' : ''" (click)="selectCard(i,card)">
                          <div class="card-number-top">
                            <p>**** **** **** {{card.lastFourDigit}}</p>
                              <div class="card-icon">
                                  <img *ngIf="card.cardBrand == 'MASTERCARD'" src="assets/icon/Mastercard.svg">
                                  <img *ngIf="card.cardBrand == 'AMERICAN_EXPRESS'" src="assets/icon/Amex.svg">
                                  <img *ngIf="card.cardBrand == 'DISCOVER'" src="assets/icon/Discover.svg">
                                  <img *ngIf="card.cardBrand == 'JCB'" src="assets/icon/JCB.svg">
                                  <img *ngIf="card.cardBrand == 'VISA'" src="assets/icon/Visa.svg">
                                  <img *ngIf="card.cardBrand == 'CHINA_UNIONPAY'" src="assets/icon/union pay.svg">
                              </div>
                          </div>
                          <div class="card-bottom">
                              <h5>Valid Thru</h5>
                              <h6>{{card.expMonth}}/{{card.yearUpd}}</h6>
                          </div>
                      </div>
                  </div>

                  <div class="no-cards" *ngIf="savecard.length == 0">
                    <p>No saved cards found!</p>
                </div>
                 
              </div>              
              <div class="clear-fixed"></div>
              
              <!-- <ion-row>
                <ion-col size="12" class="plr-0">
                  <div class="box-sq">
                    <label for="sq-card-number" class="sq-label"
                      >Card Number:</label
                    >
                    <div id="sq-card-number" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/card-new.svg" />
                  </div>
                </ion-col>

                <ion-col size="12" class="plr-0">
                  <div class="box-sq">
                    <label for="sq-cvv" class="sq-label">CVV:</label>
                    <div id="sq-cvv" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/cvv-new.svg" />
                  </div>
                </ion-col>

                <ion-col size="6" class="pl-0">
                  <div class="box-sq">
                    <label for="sq-expiration-date" class="sq-label"
                      >Expiration Date:</label
                    >
                    <div id="sq-expiration-date" class="sq-input-box"></div>
                    <img
                      class="icon-input"
                      src="assets/icon/calendar-new.svg"
                    />
                  </div>
                </ion-col>

                <ion-col size="6" class="pr-0">
                  <div class="box-sq">
                    <label for="sq-postal-code" class="sq-label"
                      >Postal Code:</label
                    >
                    <div id="sq-postal-code" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/cvv-new.svg" />
                  </div>
                </ion-col>

              </ion-row> -->
            </div>
          </div>
        </ion-radio-group>
        <div class="save-card" *ngIf="paymentType=='SQUARE_PAYMENT'">
          <ion-item lines="none" mode="ios">
            <ion-label>Save Card</ion-label>
            <ion-checkbox slot="start" mode="ios"  id="card-button" (ionChange)="CardSaveCheckBox($event)"[(ngModel)]="isChecked"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  <ion-footer mode="ios" >
    <ion-toolbar mode="ios">
      <div class="add-card-btn" *ngIf="paymentType=='SQUARE_PAYMENT'" [hidden]=showPaymentScreen (click)="showPaymentDiv(true)">
        <ion-button>+ Add New Card</ion-button>
      </div>
      <div class="add-card-btn"  *ngIf="paymentType=='SQUARE_PAYMENT'"[hidden]=!showPaymentScreen (click)="showPaymentDiv(false)">
        <ion-button>Back to saved cards</ion-button>
      </div>

    <!-- select card screen -->
      <div [hidden]=showPaymentScreen >
        <ion-button class="white-btn">
          <img src="assets/icon/close-icon.png" (click)="onClickCancel()"/>
        </ion-button>
        <ion-button class="white-btn" (click)="paymentThroughSelectedCard()">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </div>

      <!-- add card-screen -->
      <div [hidden]=!showPaymentScreen>
        <ion-button class="white-btn" (click)="onClickCancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button class="white-btn" (click)="openCreateModal()">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </div>

      <div class="nil4all">
        <span>#NIL4ALL</span>
      </div>
    </ion-toolbar>
  </ion-footer>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</div>

<ion-modal #CreateAppearance class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3 *ngIf="!isBiddingForEvent">Create Appearance</h3>
      <h3 *ngIf="isBiddingForEvent">Create Bid</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p *ngIf="!isBiddingForEvent">
          Are you sure, you want to create appearance?
        </p>
        <p *ngIf="isBiddingForEvent">
          Are you sure, you want to bid this event?
        </p>
      </div>
     
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button (click)="cancel()" class="white-btn">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button (click)="onSubmit()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>



<!-- save card pop-up -->
<ion-modal #saveCard class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3 *ngIf="isBiddingForEvent">Save Card</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>
          Are you sure, you want to save this card?
        </p>
      </div>
     
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button (click)="cancel()" class="white-btn">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button (click)="saveSelectedCard()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


<!-- confirm card pop-up -->
<ion-modal #confirmSavedCardPayment class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3 *ngIf="isBiddingForEvent">Use this card</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>
          Are you sure, you want to use this card for bid of ${{this.commonService.bidAmount}} ?
        </p>
      </div>
     
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button (click)="cancel()" class="white-btn">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button (click)="confirmPaymentFromSavedCard()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
