<div class="client-filter-modal payment-flow">
  <ion-header mode="ios">
    <div class="icon-header">
      <img src="assets/icon/header-bubble.png" />
      <h3>Select Payment Option</h3>
    </div>
    <div class="top-noch">
      <img src="assets/images/modal-tope.png" />
    </div>
  </ion-header>

  <div class="inner-content">
    <div class="main-screen">
      <div class="payment-select">
        <ion-radio-group [(ngModel)]="paymentType" mode="md">
          <div class="select-item">
            <ion-item lines="none" mode="md">
              <ion-radio slot="start" value="apple"></ion-radio>
              <ion-label>
                <h5>Apple Pay</h5>
<!--
                <p>Balance : <span>$500</span></p>
-->
              </ion-label>
              <img
                slot="end"
                class="checked"
                src="assets/images/apple-pay.svg"
              />
              <img
                slot="end"
                class="unchecked"
                src="assets/images/apple-pay-gray.svg"
              />
            </ion-item>
          </div>

          <div class="select-item">
            <ion-item lines="none" mode="md" (click)="showPayment()">
              <ion-radio slot="start" value="SQUARE_PAYMENT"></ion-radio>
              <ion-label>
                <h5>Credit Card</h5>
              </ion-label>
              <img
                slot="end"
                class="checked"
                src="assets/images/card-icn-white.svg"
              />
              <img
                slot="end"
                class="unchecked"
                src="assets/images/card-icn.svg"
              />
            </ion-item>
            <div *ngIf="paymentType == 'SQUARE_PAYMENT'" class="card-details" >
              <ion-row>
                <ion-col size="12" class="plr-0">
                  <div class="box-sq">
                    <label for="sq-card-number" class="sq-label"
                      >Card Number:</label
                    >
                    <div id="sq-card-number" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/card-new.svg" />
                  </div>
                </ion-col>

                <ion-col size="12" class="plr-0">
                  <div class="box-sq">
                    <label for="sq-cvv" class="sq-label">CVV:</label>
                    <div id="sq-cvv" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/cvv-new.svg" />
                  </div>
                </ion-col>

                <ion-col size="6" class="pl-0">
                  <div class="box-sq">
                    <label for="sq-expiration-date" class="sq-label"
                      >Expiration Date:</label
                    >
                    <div id="sq-expiration-date" class="sq-input-box"></div>
                    <img
                      class="icon-input"
                      src="assets/icon/calendar-new.svg"
                    />
                  </div>
                </ion-col>

                <ion-col size="6" class="pr-0">
                  <div class="box-sq">
                    <label for="sq-postal-code" class="sq-label"
                      >Postal Code:</label
                    >
                    <div id="sq-postal-code" class="sq-input-box"></div>
                    <img class="icon-input" src="assets/icon/cvv-new.svg" />
                  </div>
                </ion-col>

                <!-- <button id="sq-creditcard" class="btn-main button-credit-card"
                        (click)="requestCardNonce($event)">Pay with card</button> -->
                <!--                <ion-col size="12">-->
                <!--                  <div class="input-box">-->
                <!--                    <ion-label position="stacked">Card Holder Name</ion-label>-->
                <!--                    <ion-item lines="none" class="ion-align-items-center">-->
                <!--                      <ion-input placeholder="Card Holder Name"></ion-input>-->
                <!--                      <img-->
                <!--                        class="ion-align-items-center"-->
                <!--                        slot="end"-->
                <!--                        src="assets/icon/profile.svg"-->
                <!--                      />-->
                <!--                    </ion-item>-->
                <!--                  </div>-->
                <!--                </ion-col>-->
                <!--                <ion-col size="12">-->
                <!--                  <div class="input-box">-->
                <!--                    <ion-label position="stacked">Card Number</ion-label>-->
                <!--                    <ion-item lines="none" class="ion-align-items-center">-->
                <!--                      <ion-input-->
                <!--                        type="number"-->
                <!--                        placeholder="0000 - 0000 - 0000 - 00"-->
                <!--                      ></ion-input>-->
                <!--                      <img-->
                <!--                        class="ion-align-items-center"-->
                <!--                        slot="end"-->
                <!--                        src="assets/icon/card-number.svg"-->
                <!--                      />-->
                <!--                    </ion-item>-->
                <!--                  </div>-->
                <!--                </ion-col>-->
                <!--                <ion-col size="6">-->
                <!--                  <div class="input-box">-->
                <!--                    <ion-label position="stacked"-->
                <!--                      >Expiration Date (mm/yy)</ion-label-->
                <!--                    >-->
                <!--                    <ion-item lines="none" class="ion-align-items-center">-->
                <!--                      <ion-input placeholder="MM/YY"></ion-input>-->
                <!--                      <img-->
                <!--                        class="ion-align-items-center"-->
                <!--                        slot="end"-->
                <!--                        src="assets/icon/calendar-new.svg"-->
                <!--                      />-->
                <!--                    </ion-item>-->
                <!--                  </div>-->
                <!--                </ion-col>-->
                <!--                <ion-col size="6">-->
                <!--                  <div class="input-box">-->
                <!--                    <ion-label position="stacked">CVV Number</ion-label>-->
                <!--                    <ion-item lines="none" class="ion-align-items-center">-->
                <!--                      <ion-input type="number" placeholder="XXX"></ion-input>-->
                <!--                      <img-->
                <!--                        class="ion-align-items-center"-->
                <!--                        slot="end"-->
                <!--                        src="assets/icon/cvv.svg"-->
                <!--                      />-->
                <!--                    </ion-item>-->
                <!--                  </div>-->
                <!--                </ion-col>-->
              </ion-row>
              <div class="save-card">
                <ion-item lines="none" mode="ios">
                  <ion-label>Save Card</ion-label>
                  <ion-checkbox slot="start" mode="ios"></ion-checkbox>
                </ion-item>
              </div>
            </div>
          </div>
        </ion-radio-group>
      </div>
    </div>
  </div>

  <ion-footer mode="ios">
    <ion-toolbar mode="ios">
      <ion-button class="white-btn" (click)="onClickCancel()">
        <img src="assets/icon/close-icon.png" />
      </ion-button>
      <ion-button class="white-btn" (click)="openCreateModal()">
        <img src="assets/icon/right-icon.png" />
      </ion-button>
      <div class="nil4all">
        <span>#NIL4ALL</span>
      </div>
    </ion-toolbar>
  </ion-footer>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</div>

<ion-modal #CreateAppearance class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3>Create Appearance</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>Are you sure, you want to Create Appearance?</p>
      </div>
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button (click)="cancel()" class="white-btn">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button (click)="onSubmit()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
