<ion-content [scrollEvents]="true" [forceOverscroll]="false" mode="md">
  <ion-grid class="top-card" mode="md">
    <div class="title-part" >
      <ion-item  lines="none" mode="md">
        <ion-icon (click)="routeBackToSchedule()" slot="start" name="arrow-back-outline" mode="md"></ion-icon>
        <ion-label>
          <ion-grid class="logo-head">
            <img src="assets/images/single-logo.svg" />
            <div class="nil4all">
              <span>#NIL4ALL</span>
            </div>
          </ion-grid>
        </ion-label>
        <!-- <div class="notification" slot="end"  (click)="presentPopover($event)">
          <img src="assets/icon/notification.svg" />
          <span></span>
        </div> -->
      </ion-item>
    </div>
  </ion-grid>

  <div class="main-screen">
    <!-- <button (click)="soundOnOff()" style="position: relative; z-index:999">mute</button> -->
    <div class="video-box">
      <video #videos
      *ngIf="this.creatorPersona !== 'ADMIN' && videourl"
        id="muteSound"
       
        loop="true"
        autoplay
        autoplay="autoplay"
      
      >
        <source *ngIf="videourl" src="{{this.videourl | profile}}" />
        <p class="warning">Your browser does not support HTML5 video. </p>
      </video>

      <!-- <video
      *ngIf="this.creatorPersona == 'ADMIN'"
        id="muteSound"
        height="100%"
        width="100%"
        loop="true"
        autoplay
        autoplay="autoplay"
        webkit-playsinline
        playsinline
      >
        <source src="{{this.eventData.sponsorVideoUrl | profile}}" />
        <p class="warning">Your browser does not support HTML5 video.</p>
      </video> -->
    </div>
    <div class="bottom-part">

      <div *ngIf="this.creatorPersona == 'ADMIN'" class="sponsor-add-part">
        <div class="sponsor-data">
          <div class="sponsor-logo-part" *ngIf="this.eventData?.sponsorProfilePicture">
            <img src="{{this.eventData?.sponsorProfilePicture | profile }}">
          </div>
          <div class="text-part" *ngIf="this.eventData?.sponsorName">
              <h4>{{this.eventData?.sponsorName}}</h4>
              <!-- <p>BIG FOOD. <span>BIG FLAVOR.</span> BIG FUN.</p> -->
              <p>{{this.eventData?.description}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="this.creatorPersona !== 'ADMIN'" class="slider-part">
        <ion-slides
          [options]="slideOpts"
          autoplay="400"
          speed="3000"
          centeredSlides="true"
        >
          <ion-slide *ngFor="let sponsor of sponsorList">
            <div class="slide">
              <div class="img-box">
                <img src="{{sponsor.profileUrl | profile}}" />
              </div>
              <h5>{{sponsor?.fullName}}</h5>
            </div>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="live-green">
        <p *ngIf="this.eventTime?.minutes">
          {{eventData?.athleteName | titlecase}} will be live in just
          <ng-container *ngIf="this.eventTime?.days">
            {{this.eventTime?.days }} {{this.eventTime?.title_days}} :
          </ng-container>
          <ng-container *ngIf="this.eventTime?.hours">
            {{this.eventTime?.hours }} {{this.eventTime?.title_hours}} :
          </ng-container>
          <!-- {{this.eventTime?.minutes}} {{this.eventTime?.title_min}} -->
          <ng-container *ngIf="this.eventTime?.minutes > 0">
            {{this.eventTime?.minutes}} {{this.eventTime?.title_min}}
          </ng-container>
          <ng-container *ngIf="this.eventTime?.minutes < 0">
            few mins
          </ng-container>
        </p>
        <p *ngIf="!this.eventTime?.minutes">
          {{eventData?.athleteName | titlecase}} is <span>LIVE</span> For Next
          30 minutes
        </p>
      </div>

      <div class="wait-part">
        <div class="head">
          <ng-container *ngIf="connectedFanDetails?.bidState == 'PENDING'">
            <h5 *ngIf="currentPosition !== 0">
              {{currentPosition}} people in wait list ahead of you
            </h5>
            <p *ngIf="currentPosition == 0">
              You are 1st in the wait list,<br />
              Athlete will call you soon.
            </p>
          </ng-container>
        </div>
        <div class="head-red" hidden>
          <p>Unfortunately, call was not received</p>
        </div>
        <div class="content-part">
          <ng-container *ngIf="connectedFanDetails?.bidState == 'PENDING'">
            <!-- <p *ngIf="currentPosition !== 0">
              Your approximate wait time is
              <span
                >{{currentPosition *
                commonService.publicInfo?.defaultDurationOfAthleteEvent}}</span
              >
              minutes
            </p> -->
            <p>
              Athlete will call you soon.
              
            </p>
            <p>
              Top Bid in the waitlist :
              <!-- <span>${{connectedFanDetails?.totalAmount}}</span> -->
              <span>${{highestBid}}</span>
            </p>
          </ng-container>
          <ng-container *ngIf="connectedFanDetails?.bidState !== 'PENDING'">
            <p>
              Your calling time is
              <span
                >{{commonService.secondsToHms(connectedFanDetails?.remainingTime)}}</span
              >

              wait for a while athlete may connect you again
            </p>
          </ng-container>
          <h4 hidden><span>Casey Rodgers</span> will connect with you soon</h4>

          <div class="bid-edit">
            <!-- add class "bid-top" in bid-edit -->
            <div class="bg-white-box">
              <ion-item lines="none">
                <ion-avatar *ngIf="userData?.profileUrl !== ''" slot="start">
                  <img [src]="userData?.profileUrl | profile" />
                </ion-avatar>
                <ng-container *ngIf="userData?.profileUrl == ''">
                  <div class="initials">
                    <span class="initials__span">
                      {{nameInitials}}
                    </span>
                    <span class="initials__online online"></span>
                  </div>
                </ng-container>
                <ion-label>
                  <h5>{{userData?.fullName}}</h5>
                  <p>${{connectedFanDetails?.totalAmount}}</p>
                  <!-- <h5>Work in progress</h5> -->
                </ion-label>
                <img
                  (click)="updateBid()"
                  class="edit"
                  slot="end"
                  src="assets/icon/edit-green.png"
                />
              </ion-item>
              <div class="increase-your-bid">
                <div class="main-text">
                  <span class="line"></span>
                  <p>Wanna Bubble Up? Increase your Bid</p>
                  <span class="line"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="overlay-bg"></div>
</ion-content>
