<ion-content [fullscreen]="true">
  <ion-header  mode="md">
    <ion-toolbar  mode="md">
      <ion-icon (click)="goBack()" class="back-arow"
      slot="start"
      name="arrow-back-outline"
      routerLink="/bubble-screen" mode="md"
    ></ion-icon>
    <div class="logo-v">
      <img src="assets/images/single-logo.svg" />
      <span *ngIf="this.platform.is('android')" class="version-txt">{{commonService?.androidAppVersion}} ({{commonService?.androidBuildVersion}})</span>
      <span *ngIf="this.platform.is('ios')" class="version-txt">{{commonService?.IOSAppVersion}} ({{commonService?.IOSBuildVersion}})</span>
    </div>
      <span class="filter-icon" slot="end" (click)="resetFilters()">
        <img 
        id="terms-of-use"
          src="assets/icon/filter-icon.svg"
        />
        <!-- <ion-popover
          #popover
          [isOpen]="isOpen"
          interface="popover"
          (didDismiss)="isOpen = false"
          class="list-options"
          mode="ios"
        >
          <ng-template>
            <ion-radio-group [(ngModel)]="selection"  (ionChange)="checkValue($event)" value="biff">
              <ion-item mode="ios" lines="none">
                <ion-radio slot="start" value="All"></ion-radio>
                <ion-label>All</ion-label>
              </ion-item>
              <ion-item mode="ios" lines="none">
                <ion-radio slot="start" value="true"></ion-radio>
                <ion-label>Online Athlete</ion-label>
              </ion-item>
              <ion-item mode="ios" lines="none">
                <ion-radio slot="start" value="false"></ion-radio>
                <ion-label>Offline Athlete</ion-label>
              </ion-item>
            </ion-radio-group>
          </ng-template>
        </ion-popover> -->
      </span>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="search-bar">
    <ion-searchbar
      [formControl]="searchControl"
      mode="ios"
      placeholder="Search your favorite"
    ></ion-searchbar>
  </ion-grid>
  <ion-grid class="bubble-list">
    <ion-row>
      <ion-col *ngIf="athleteList.length == 0" size="12">
        <h6 class="text-center">Athlete not found</h6>
      </ion-col>

      <ion-col *ngFor="let athlete of athleteList ;let i = index" size="6">
        <div (click)="navigateToAthlete(athlete.id)" class="athlete-details">
          <div class="athlete-img">
            <div class="img-set" *ngIf="athlete.profileUrl !== '' ">
              <img [src]="athlete.profileUrl | profile" />
            </div>
            <ng-container *ngIf="athlete.profileUrl == '' ">
              <div class="inital">
              <span class="initial__span">
                {{athlete.nameInitials}}
              </span>
              </div>
            </ng-container>
            <span
              [ngClass]="athlete.online ? 'online' :'offline'"
              class="status"
            ></span>
          </div>
          <div class="athlete-info">
            <h5>{{athlete?.fullName}}</h5>
            <p>
              {{athlete.universityName}}
              <span *ngIf="isShowingSeparator(i)">||</span> {{athlete.teamName}}
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>

      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>

  <!-- <div class="bg-images"></div> -->

  <ion-infinite-scroll
    threshold="50px"
    [disabled]="isScrollDisabled"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<!-- Filter Modal -->
<ion-modal trigger="terms-of-use" class="filter-modal">
  <ng-template>
    <ion-header mode="ios">
      <ion-toolbar>
        <ion-grid class="logo-head">
          <div class="logo-v tag-logo">
            <img src="assets/images/logo.svg" />
            <span *ngIf="this.platform.is('android')" class="version-txt">{{commonService?.androidAppVersion}} ({{commonService?.androidBuildVersion}})</span>
            <span *ngIf="this.platform.is('ios')" class="version-txt">{{commonService?.IOSAppVersion}} ({{commonService?.IOSBuildVersion}})</span>
          </div>
        </ion-grid>
        <!-- <ion-icon slot="end" name="close-outline" (click)="onclick_cancel()"></ion-icon> -->
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-grid class="filter-title">
        <ion-row>
           <ion-col>
            <h5>Filters</h5>
           </ion-col>
           <ion-col class="ion-text-end">
            <h4 (click)="cancel()"><img src="assets/icon/reset-btn.svg"> Reset</h4>
           </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="content-part">
          <div class="menu-part-left">

            <ion-segment [scrollable]="true" value="All" [(ngModel)]="selectedIndex"  mode="ios" (ngModelChange)="getCategoriesData()">
              <ion-segment-button value="All" mode="ios">
                <div class="icon-text">
                  <img class="d-active" src="assets/images/all-active.gif">
                  <img class="active" src="assets/images/all.gif">
                  <p>All</p>
                </div>
              </ion-segment-button>
              <ion-segment-button value="Sports" mode="ios">
                <div class="icon-text">
                  <img class="d-active" src="assets/images/rugby.gif">
                  <img class="active" src="assets/images/rugby-active.gif">
                  <p>Sports</p>
                </div>
              </ion-segment-button>
              <!-- <ion-segment-button value="Entertainment" mode="ios">
                <div class="icon-text">
                  <img class="d-active" src="assets/images/rugby.gif">
                  <img class="active" src="assets/images/rugby-active.gif">
                  <p>Entertainment</p>
                </div>
              </ion-segment-button> -->
              <ion-segment-button value="online" mode="ios">
                <div class="icon-text">
                  <img class="d-active" src="assets/images/online.gif">
                  <img class="active" src="assets/images/online.gif">
                  <span class="user-shape"></span>
                  <p>Online Athletes</p>
                </div>
              </ion-segment-button>
              <ion-segment-button value="offline" mode="ios">
                <div class="icon-text">
                  <img class="d-active" src="assets/images/offline.gif">
                  <img class="active" src="assets/images/offline.gif">
                  <span class="user-shape"></span>
                  <p>Offline Athletes</p>
                </div>
              </ion-segment-button>
            </ion-segment>

             
          </div>
          <div class="filter-list-right">
            <!-- All -->
              <div class="all-filter" *ngIf="selectedIndex == 'All'">
                  <div class="select-item">
                      <ion-item lines="none">
                          <ion-checkbox slot="start" mode="ios" [(ngModel)]="allAthletes" (ionChange)="getFilterInputs($event,'ALL')"></ion-checkbox>
                          <ion-label>All Athletes 
                            <span>({{athleteCount.totalCount}})</span>
                          </ion-label>
                      </ion-item>
                  </div>
              </div>

              <!-- Sports -->
              <div class="all-filter" *ngIf="selectedIndex == 'Sports'">
                  <div class="main-part" *ngIf="showSportCategories">
                      <div class="select-item" *ngFor="let categories of sportCategories">
                        <ion-item lines="none">
                            <ion-label>{{categories?.category}} <span>({{categories?.totalTeams}})</span></ion-label>
                            <ion-icon slot="end" name="chevron-forward-outline" (click)="getSelectedCategoryName(categories?.category)"></ion-icon>
                        </ion-item>
                    </div>
                  </div>

                  <div class="inner-part" *ngIf="showSelectedCategoriesInDetail">
                      <div class="back-menu">
                        <ion-item lines="none">
                          <ion-icon slot="start" name="chevron-back-outline" (click)="showHideContent()"></ion-icon>
                          <ion-label>{{selectedSport}}</ion-label>
                        </ion-item>
                      </div>
                      <ion-grid class="search-bar">
                        <ion-searchbar
                          mode="ios"
                          placeholder="Search your favourite"
                          [formControl]="categoriesSearchControl"
                        ></ion-searchbar>
                      </ion-grid>
                      <div class="select-item">
                        <ion-item lines="none">
                            <ion-checkbox slot="start" mode="ios"  (ionChange)="getFilterInputs($event,selectedSport)"></ion-checkbox>
                            <ion-label>All {{selectedSport}} </ion-label>
                        </ion-item>
                      </div>
                      <div class="team-tlt" *ngIf="selectedSport">
                        <h6>{{selectedSport}} Teams</h6>
                      </div>

                      <div class="select-item"  *ngIf="this.teams">
                        <ion-item lines="none" *ngFor="let team of teamObj">
                            <ion-checkbox slot="start" mode="ios" [(ngModel)]="team.checked" value="{{team.teamName}}" (ionChange)="selectTeams(team.teamName)"></ion-checkbox>
                            <ion-label>{{team.teamName}}</ion-label>
                        </ion-item>
                      </div>

                      <div class="select-item" *ngIf="!this.teams && this.selectedSport">
                        <ion-item lines="none">
                            <ion-label>No {{this.selectedSport}} players found!</ion-label>
                        </ion-item>
                      </div>
                      
                  </div>
              </div>

              <div class="all-filter" *ngIf="selectedIndex == 'online'">
                <div class="select-item">
                    <ion-item lines="none">
                        <ion-checkbox slot="start" mode="ios" (ionChange)="getFilterInputs($event,'ONLINE')"></ion-checkbox>
                        <ion-label>Online Athletes
                          <span>({{athleteCount.onlineCount}})</span>
                          </ion-label>
                    </ion-item>
                </div>
            </div>

            <div class="all-filter" *ngIf="selectedIndex == 'offline'">
              <div class="select-item">
                  <ion-item lines="none">
                      <ion-checkbox slot="start" mode="ios" (ionChange)="getFilterInputs($event,'OFFLINE')"></ion-checkbox>
                      <ion-label>Offline Athletes
                        <span>({{athleteCount.offlineCount}})</span>
                        </ion-label>
                  </ion-item>
              </div>
          </div>
         </div>
      </ion-grid>
    </ion-content>
    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
          <ion-grid>
              <ion-row>
                  <ion-col size="4">
                    <ion-button class="cancel-btn" (click)="modal.dismiss()">
                      Cancel
                    </ion-button>
                  </ion-col>
                  <ion-col size="8">
                    <ion-button class="send-btn" (click)="applyFilters()">
                      Apply Filter
                    </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
