<ion-header>
  <ion-toolbar>
    <ion-title>Privacy-Policy</ion-title>
    <ion-icon
    slot="end"
    name="close-outline"
    (click)="onClickCancel()"
  ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="content-part">
    <p>
      To provide the BubbleApp platform through our website, mobile application, and through services we provide (the
      website, application, and services referred to as our “Site”), and continue to improve them (“BubbleApp,” “we,” “us,”
      or “our”) collects information from you. This Privacy Policy explains how BubbleApp collects, stores, uses, transfers,
      and discloses your information.
    
    </p>
    <p>
      BubbleApp may revise this Privacy Policy. We will give you notice by posting the revised Privacy Policy on our Site
      and updating the “Last Updated and Effective” date at the top of this Privacy Policy; we may also notify you in other
      ways, such as through the contact information you have provided or via a pop-up notification on our Site. Any changes
      to this Privacy Policy will be effective immediately on posting the updated Privacy Policy unless otherwise stated or
      as required by applicable law (for example, a different form of notice and your opt-in or opt-out consent, etc.). By
      continuing to use our Site, you agree to the revised Privacy Policy to the fullest extent permitted by applicable law.
    
    </p>
    <p>
      Please also review the applicable Terms of Service which also apply to use of our Site. Terms that are defined in the
      Terms of Service have the same meaning in this Privacy Policy.
    
    </p>
    <p>
      Scope
    
    </p>
    <p>
      This Privacy Policy applies to all aspects of our Site as well as to information we may collect offline.
    
    </p>
    <p>
      This Site may link to or incorporate websites or content hosted and served by others over which we have no control,
      such as third-party websites, online properties, platforms, social media, or systems, which are each governed by the
      privacy policy and business practices of the third party. You understand and agree that BubbleApp is not responsible
      for the security, privacy, or business practices of any third party.
    
    </p>
    <p>
      We collect information from you directly, automatically when you visit the Site, and sometimes from third parties.
      Some of this information may be considered “personal information” under various applicable laws. We consider
      information that identifies you as a specific, identified individual to be personal information (such as your name,
      telephone number, and e-mail address), as well as additional information, including IP addresses and cookie
      identifiers, where required by applicable law. And, if we combine information that we consider to be non-personal with
      personal information, we will treat the combined information as personal information under this Privacy Policy. Note
      that we may de-identify personal information so that it is non-personal, such as by aggregating it or converting it to
      a code. We will treat de-identified information as non-personal to the fullest extent permitted by applicable law.
    
    </p>
    <p>
      Information You Provide
    </p>
    <p>
      BubbleApp may collect personal information from you when you:
    </p>
    <p>
      Create an Account on, Login to, or Interact with the Site. BubbleApp collects your name and email address and the
      other information that you provide, such as a telephone number, when you register or login, update, or add information
      or content to your account. We require you to create a username and password if you create an account, although we may
      enable other methods such as logging in through one of your existing social media accounts such as Facebook,
      Instagram, and Twitter (collectively, “Social Media Platforms”) or your Apple ID. BubbleApp also collects certain
      information relating to any Social Media Platform account or Apple ID that you use to login to or link to your
      BubbleApp account (such as your username, bio, and number of followers), although linking any such account to your
      BubbleApp account or logging into BubbleApp via such account is entirely up to you. We may store payment information
      (such as credit or debit card details) but only if you choose to save it to your account. If you create an account
      using a BubbleApp-provided referral link or code through one of our referral programs, we also receive certain
      information relating to your use of the unique link.
    </p>
    <p>
      Make a Purchase through the Site. BubbleApp collects the information that you provide when you request a BubbleApp
      Video Chat, in-person appearance, or other offering, including, for example and as applicable, your name and email
      address, any mobile telephone contact number (of you or the recipient) you choose to provide, the name of the
      recipient, and the details that you provide as part of your request. BubbleApp processes payment information you
      provide when you pay for a purchase. We collect information of the recipients that you provide to us to the extent
      necessary to provide the BubbleApp offering, either as part of the content or for the transaction itself (for example,
      we share the recipient’s name and the details of the request with the applicable BubbleApp “Talent User”) or to
      deliver merchandise.
    
    </p>
    <p>
      Participate in Sweepstakes, Contests, or Other Promotional Activities. BubbleApp collects the information that you
      provide when you enter a sweepstakes, contest, or promotional activities (each, a “Promotion”) through our Site. Each
      Promotion has its own terms and conditions or official rules, which you should review as they may contain other
      requirements (such as, allowing use of your name or likeness in advertising unless prohibited by applicable law).
    
    </p>
    <p>
      Contact Customer Service through the Site. BubbleApp collects the information that you provide in connection with us
      providing you customer service.
    
    </p>
    <p>
      Provide Content to the Site. We collect information when you submit content to us, such as a video, review, photo,
      email, text, social media post, or other communication (each, a “Submission”) and, if you are a Talent User, when you
      submit “Talent Content”. Each Submission, whether submitted to our Site directly or through a Social Media Platform,
      and all Talent Content, is subject to the applicable Terms of Service. As a result, others may access it, use it, and
      share it in accordance with the Terms of Service.
    
    </p>
    <p>
      Sync Contacts or Connect with Friends. If you choose to upload, sync, or import the contact information of your
      contacts from your device (such as your address book), or otherwise share such contact information with us, we will
      collect and store that information in accordance with this Privacy Policy. You represent that you have obtained the
      consent of your contacts to share this information with us. We may use this information to identify which of your
      contacts are users of the Site, to provide services to you, to help you find and connect with people you know, help
      others find and connect with you, and to customize the content we present to you and to other Site users.
    
    </p>
    <p>
      Use Social Media with the Site. We collect information when you interact with our Site through any “Social Media
      Platform”). For example, we may enable you to use certain of your existing Social Media Platform accounts to create an
      account on our Site or “like” or “share” content from our Site. Doing so may allow us to collect (or the third party
      to share) information about you. Some of your information, such as your username, may be publicly displayed. We may
      also receive information about you if other users of a Social Media Platform give us access to their profiles and you
      are one of their connections or “friends.” In addition, we and the Social Media Platform may have access to
      information about you and your use of our Site and the Social Media Platform. The information we collect is subject to
      this Privacy Policy. The information that any third-party collects is subject to its privacy practices (including
      whether it shares information with us, the types of information shared, and your choices about what may be visible to
      others).
    
    </p>
    <p>
      Use the Site as a Talent User. When you use our Site to become or as a Talent User, we collect, in addition to
      information provided when you create your account, your name, email address, telephone number, and the social media
      usernames you provide, BubbleApp Videos and other offerings prepared by you, and other information relating to our
      relationship with you, such as payment information. BubbleApp’s payments to you are made through the third-party
      payment provider selected by BubbleApp. You should review the payment provider’s privacy policy before providing your
      personal information, as it is responsible for personal information in its own right, and its privacy practices may
      vary from ours.
    
    </p>
    <p>
      Become a BubbleApp Partner. When you become a “BubbleApp Partner” including through our Site, in addition to
      information you provide if you create an account on the Site, we collect your name, email address, telephone number,
      and other information relating to our relationship with you, including payment information. BubbleApp’s payments to
      you are made through the third-party payment provider selected by BubbleApp. You should review the payment provider’s
      privacy policy before providing your personal information, as it is responsible for personal information in its own
      right, and its privacy practices may vary from ours.
    
    </p>
    <p>
      Apply for a Job with BubbleApp. We collect the information you provide when you apply for a job with us (for example,
      through the “Jobs” link on our Site) or directly; this may include your name, contact information, employment history,
      educational background, any self-identifying information (such as veteran status, gender, and ethnicity) and other
      information you provide. Please note that your use of a third party tool or third-party applicant tracking system
      utilized by BubbleApp (e.g., LinkedIn, Indeed, etc.) to apply is subject to the third party’s privacy policy.
    
    </p>
    <p>
      Information from Third Parties
    </p>
    <p>
      We may also obtain information, such as contact details (for example, name and email address), country, IP address,
      purchase histories, marketing preferences, cookie information, hardware and software information and other technical
      information about you from third parties, such as other users of the Site who upload information or sync their
      contacts, analytics companies, Social Media Platforms, and other third party business partners, such as a BubbleApp
      Partner. For example, if you discuss becoming a Talent User through a BubbleApp Partner, we will collect your name,
      email address, telephone number, and the social media usernames you provide relating to that relationship from the
      BubbleApp Partner.
    
    </p>
    <p>
      We and our third-party business partners may collect information about your visits to and activity on our Site and
      other websites and services. We may combine that information with other personal information we have collected from or
      about you. We may share certain of this information with third party business partners for similar purposes.
    
    </p>
    <p>
      Cookies and Tracking Technologies
    </p>
    <p>
      Cookies and Tracking
    </p>
    <p>
      When you visit our Site or otherwise interact with us or our content, we and third-party advertising and analytics
      companies and other third party business partners may use a variety of tracking and other technologies that
      automatically or passively collect certain information (“Usage Information”).
    
    </p>
    <p>
      We may use these technologies for several reasons, including to save your preferences for future visits, to our Site,
      keep you logged in between visits, to serve targeted advertising to you, and to provide you with improved services.
      The information we collect may include (but is not limited to):
    
    </p>
    <p>
      date and time of your visit to our Site;
    </p>
    <p> • areas you visit within our Site;
    </p>
    <p> • links that you click on within our Site;
    </p>
    <p> • websites or advertisements you visit before or after visiting our Site;
    </p>
    <p> • terms you entered into a search engine that lead you to our Site;
    </p>
    <p> • IP address, mobile device identifier, or other unique identifier and usage information for the device used to
      access our Site;
    </p>
    <p> • precise location data from your device, if you have opted-in to the collection of that information (you may be
      able to disable the collection of precise location data through the settings on the device used to access our Site,
      but your approximate location may remain available through its IP address or other information that we collect);
    </p>
    <p> • device and connection information, such as browser type and version, operating system, and platform; and
    </p>
    <p> • whether an email message we sent was opened and whether a link in the email message was clicked.
    
    </p>
    <p>
      Methods We Use to Collect
    
    </p>
    <p>
      The methods that may be used to collect Usage Information include the following:
    
    </p>
    <p>
      Cookies and Local Storage. A cookie is a data file placed on a device when it is used to visit the Site or otherwise
      access our content. Certain web browsers and certain browser add-ons, such as Adobe Flash, may provide additional
      local data storage mechanisms that are used in a manner similar to cookies, and some of the content included on our
      Site may make use of this local storage. Flash cookies, and other local storage devices may be used for a variety of
      purposes (for example, to identify your device when you revisit our Site, to recall your authentication information,
      to store information related to your navigation throughout our Site, or to enable certain features on our Site). Some
      cookies are essential to the functioning of the Site, and, without them, some features and services you have requested
      cannot be provided. If you disable cookies, adjust privacy settings on your device, restrict local storage, or
      otherwise limit these technologies, you may not be able to use some of our Site features.
    
    </p>
    <p>
      • Web Beacons. Small graphic images or other web programming code called web beacons (also known as “pixels”, “1x1
      GIFs” or “clear GIFs”) may be included in our web pages and email messages. Web beacons may not be visible to you. Web
      beacons or similar technologies may be used for a number of purposes, including to count visitors to the Site, to
      monitor how users navigate the Site, to count how many email messages we sent were opened, and to count whether a link
      in an email message we sent was clicked.
      • Embedded Scripts. An embedded script is a programming code that is designed to collect information about your
      interactions with the Site, such as the links you click on. The code is temporarily downloaded onto your device from
      our server or a third-party service provider, is active only while you are connected to the Site, and is deactivated
      or deleted after you are no longer connected.
      • Other Technologies. We may also use other technologies that collect similar information for security and fraud
      detection purposes.
    
    </p>
    <p>
      “Do Not Track” Signals
    </p>
    <p> Some Internet browsers may be configured to send “Do Not Track” signals to the online services that you visit. There
      is no consensus among industry participants as to what “Do Not Track” means in this context. Like many websites and
      online services, BubbleApp does not currently alter our practices when we receive a “Do Not Track” signal from a
      visitor’s browser except as specifically required by law.
    </p>
    <p> How We Use Information
    </p>
    <p> We may combine information that we have received from you with information from other sources to operate, tailor
      content, personalize, adjust, and improve our Site. We use your information:
    </p>
    <p> • to fulfill your request for a BubbleApp Video or other offering or purchase of merchandise, accept your payment,
      ship and deliver your orders, deliver email messages, and process information you provide through our Site;
    </p>
    <p> • to maintain your account, to assist with payment transactions, to facilitate use of the Site, and to communicate
      with you about your account, our relationship with you, and your use of the Site, such as by verifying your
      information, requesting that you respond to a survey, or checking on the status of an order or request. We may send
      you text messages if you have provided us with your mobile telephone number for that purpose;
    </p>
    <p> • to establish and manage a relationship with you as a Talent User or a BubbleApp Partner;
    </p>
    <p> • to send you promotional email or text messages communications from BubbleApp (not from any third party) if you
      have opted in to receive them. To stop receiving email messages, click on the “unsubscribe” link in the footer of the
      promotional email; please note that even if you unsubscribe, we may send you communications relating to your account
      or use of the Site, such as administrative and services announcements.
    </p>
    <p> • to conduct and administer a Promotion if you have chosen to participate. We will not share your information with a
      third party for the third party’s marketing or promotional purposes unless you agree when you choose to participate in
      the Promotion;
    </p>
    <p> • to provide you and others with customer service, to assist in resolving issues, and to evaluate and improve our
      customer service and processes;
    </p>
    <p> • to use any Submission or Talent Content as set forth in the applicable Terms of Service which may include the
      public display of some information, such as your name, username, or where you reside;
    </p>
    <p> • to consider your job application and, in connection with the application, to fulfill legal reporting requirements,
      for internal business purposes (such as to evaluating and improving our recruiting processes), or to defend against
      employment-related claims;
    </p>
    <p> • to contact you about administrative matters, such as the applicable Terms of Service or other issues;
    </p>
    <p> • to better understand your personal preferences and to enable us to provide you with improved and personalized
      communications and services;
    </p>
    <p> • to compile aggregate data about Site traffic and interaction;
    </p>
    <p> • to tailor the content and advertising we display to you or others, on our Site or elsewhere, and to analyze trends
      and statistics;
    </p>
    <p> • to create advertising models through lookalike modelling or other research methodologies;
    </p>
    <p> • for internal business purposes, such as improving our Site, products, and services and to comply with legal
      requirements and our business practices, such as our recordkeeping, backup, and document retention policies; and
    </p>
    <p> • for other reasons that</p><p> (a) we disclose when asking you to provide your information,</p><p> (b) with your consent, or</p><p> (c)
      as described in this Privacy Policy.
    </p>
    <p> How We Share Information
    </p>
    <p> We share non-personal information, such as aggregated statistics and de-identified information, with third parties
      to the extent permitted by applicable law. BubbleApp also shares personal information as provided below in more
      detail. We do not share personal information with any third party to use for its own marketing or promotional purposes
      without your consent.
    </p>
    <p> 1. Our Affiliates
    </p>
    <p> We share information with our affiliates, as relevant, who use it for the same purposes for which we use it.
    </p>
    <p> 2. Third Parties Providing Services on our Behalf
    </p>
    <p> We use third parties to perform certain services on our behalf, such as hosting the Site or Site features, providing
      website usage analytics, fulfilling orders, processing payments, sending email or other communications, providing
      marketing assistance and data analysis or enhancement, running Promotions, or performing other administrative
      services. We may share information about you with these third parties to allow them to execute, deliver, or improve
      the services that they provide for you and for BubbleApp.
    </p>
    <p> 3. BubbleApp Partners
    </p>
    <p> If you are a Talent User, we may disclose your information to the BubbleApp Partner who introduced you to us in
      connection with the services that the BubbleApp Partner is providing and for the BubbleApp Partner’s business purposes
      (for example, record-keeping and tax reporting).
    </p>
    <p> 4. Employment Applications
    </p>
    <p> If you apply for a job with BubbleApp or any of our subsidiaries or affiliates, we or our service providers may ask
      you to provide self-identifying information (such as veteran status, gender, and ethnicity) in conjunction with laws
      and regulations enforced by the U.S. Equal Employment Opportunity Commission and other regulatory agencies. Providing
      such self-identifying information is voluntary, but if you do provide such information, we and our service providers
      may submit that information to the appropriate government or regulatory agencies to fulfill reporting requirements and
      use that information to defend against employment-related complaints.
    </p>
    <p> 5. Sweepstakes, Contests, and Other Promotional Activities
    </p>
    <p> If you participate in a Promotion, we may disclose your information to third parties or to the public in connection
      with conducting and administering the Promotion, for example, to select a winner, provide a prize, as required by
      applicable law (such as publishing a list of winners), or as permitted by the applicable terms and conditions or
      official rules of the Promotion.
    </p>
    <p> 6. Compliance partners for NCAA athletes
    </p>
    <p> If you purchase a BubbleApp Video or other offering from a Talent User who is an athlete affiliated with an NCAA
      member institution, we may share information about your purchase, including your name, the date and price of your
      request, and the date the request was fulfilled, with INFLCR, Inc., its affiliates, and the Talent’s NCAA member
      institution.
    </p>
    <p> 7. When You Request That We Share Your Information
    </p>
    <p> We may share information when you request us to do so, for example, if you opt-in to receive a communication from a
      third party or if you engage with a Social Media Platform or other third-party application or feature through which
      information about you is shared.
    </p>
    <p> 8. Administrative Reasons, To Enforce and Protect Legal Rights
    </p>
    <p> • To the extent permitted by applicable law, we will disclose your personal information pursuant to a law,
      regulation, court order, or other legal request or process, such as disclosure to law enforcement or other government
      officials or agencies in connection with any investigation, for example of fraud, intellectual property infringement,
      or any other activity that is or may be illegal or may expose BubbleApp, you, or another to legal liability. This
      disclosure may include legal requests from a jurisdiction outside of the United States when we have a good faith
      belief that the response is required by law, regulation, court order, or other legal request or process in that
      jurisdiction, affects users in that jurisdiction, and is consistent with internationally-recognized standards.
    </p>
    <p> • We will disclose your personal information when necessary to exercise, enforce, establish, or defend our legal
      rights. For example, we may review your account information in order to investigate allegations of hacking or a breach
      of the applicable Terms of Service. We will disclose your personal information to our legal and other advisors,
      consultants, and law enforcement or other government entities.
    </p>
    <p> 9. Protecting Others
    </p>
    <p> We will disclose your personal information to third parties when we believe the disclosure is necessary to protect
      rights, property, or safety of another. For example, we disclose personal information relating to a Site account if we
      in good faith believe that a Site account is being used in ways that are harmful to another or contrary to the
      applicable Terms of Service.
    </p>
    <p> 10. Business Transfers
    </p>
    <p> In evaluating or engaging in a sale of assets, merger, acquisition, reorganization, bankruptcy, or other
      transaction, we reserve the right to disclose, transfer, or assign your personal information and communications. By
      providing your personal information, you agree that we may transfer such information to the acquiring entity without
      your further consent.
    </p>
    <p> Children and Parents
    </p>
    <p> Our Site is intended for a general audience and not for use by anyone younger than the age of 13 in the United
      States (or under the applicable legal age outside of the United States). We do not knowingly collect personal
      information from children younger than the age of 13 (or under the applicable legal age outside of the United States),
      without the consent of a parent or legal guardian; if we learn that we have done so, we will promptly remove the
      information from our active databases. If you are a parent or legal guardian who believes that we have collected or
      used your child’s personal information without your consent, please contact us.
    </p>
    <p> Your Choices
    </p>
    <p> Cookie and Marketing Preferences
    </p>
    <p> To stop receiving promotional email communications from BubbleApp, click on the “unsubscribe” link in the footer of
      the promotional email. As noted above, we may send you email communications relating to your account or use of the
      Site even if you have unsubscribed.
    </p>
    <p> Third-Party Advertising and Analytics Companies and Your Choices
    </p>
    <p> BubbleApp works with third party network advertisers, ad agencies, and other advertising partners to serve BubbleApp
      ads online. We may use information we have learned about you to target ads to you and to allow third parties to target
      ads to you. We also use third party analytics providers to provide us with information regarding the use of the Site
      and the effectiveness of our advertisements. These third parties may set and access their own tracking technologies on
      your device (including cookies and web beacons), and they may otherwise collect or have access to information about
      you, including Usage Information. We and our third-party advertising and analytics providers may collect personal
      information over time when you visit the Site or other online websites and services.
    
    </p>
    <p> We may share non-personal information, including information that has been de-identified, aggregated user
      statistics, and Usage Information, directly or indirectly through third party business providers, with third party
      advertising companies, analytics providers, and other third parties, including for the purpose of serving you more
      relevant ads. We may retain third party providers to help us perform these tasks. For example, we may share personal
      information with third parties who combine and link information from BubbleApp with information from other sources.
      These third-party providers may then make non-personal information available to third party advertisers, including
      information about your interests and preferences, to enable them to serve you more relevant ads.
    </p>
    <p> • Some of these third parties may be members of the Network Advertising Initiative (“NAI”) or Digital Advertising
      Alliance (“DAA”) Self-Regulatory Program for Online Behavioral Advertising. NAI and DAA each provide information
      regarding procedures for opting-out of targeted online advertising from participating companies.
    </p>
    <p> • For mobile applications, you may be able to limit certain advertising practices using the settings on your mobile
      telephone, tablet, or other mobile device. On most mobile devices, you can install the DAA’s AppChoices app to make
      choices about cross-app interest-based advertisements from participating third parties.
    </p>
    <p> • BubbleApp uses Google Analytics. Google Analytics uses cookies and similar technologies to collect and analyze
      information about the use of the Site and report on activities and trends. This service may also collect information
      regarding the use of other websites, apps, and online resources.
    </p>
    <p> Opting out through these mechanisms does not block all online advertising; you will continue to receive generic
      advertisements.
    </p>
    <p> Accessing Personal Information and Retention Period
    </p>
    <p> Accessing Your Account
    </p>
    <p> Please note that if you choose not to provide us with certain personal information, we may not always be able to
      provide you with the relevant BubbleApp product or service that you request. For example, without providing an email
      address, you will not be able to create a Site account.
    </p>
    <p> • If you have a Site Account, you may access, view, correct, or update certain personal information collected about
      you, as well as deactivate or delete the account through the account services portal on BubbleApp.com or in the mobile
      application. Talent Users may also deactivate their account by contacting their BubbleApp talent representative.
    </p>
    <p> • If you have any concerns about how we are using your personal information, would like to access, correct, or
      delete the personal information that you have provided to us, please contact us.
    </p>
    <p> Retention Period
    </p>
    <p> When you request that we delete your personal information, we will take commercially reasonable steps to remove it
      from our active databases but will keep original information consistent with our business practices to the extent
      permitted by applicable law (for example, for purposes of dispute resolution, enforcement of agreements, complying
      with legal requirements, recordkeeping, backup, and document retention).
    </p>
    <p> Data Security
    </p>
    <p> BubbleApp takes commercially reasonable security measures to protect the information submitted to us. However, no
      method of transmission over the Internet, or method of electronic storage, is 100% secure and you use our Site and
      transmit information to us at your own risk. If you have any questions about security on our Site, please contact us.
    
    </p>
    <p> To provide the BubbleApp platform through our website, mobile application, and through services we provide (the
      website, application, and services referred to as our “Site”), and continue to improve them (“BubbleApp,” "Bubble App
      LLC", “we,” “us,” or “our”) collects information from you. This Privacy Policy explains how BubbleApp collects,
      stores, uses, transfers, and discloses your information.
    </p>
  </ion-grid>
</ion-content>
