<div class="client-filter-modal">
  <ion-header mode="ios">
    <div class="icon-header">
      <img src="assets/icon/header-bubble.png" />
      <h3>Change Password</h3>
      <p>
        a password with 8 characters including 1 uppercase letter, 1 special
        character, and alphanumeric characters
      </p>
    </div>
    <div class="top-noch">
      <img src="assets/images/modal-tope.png" />
    </div>
  </ion-header>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</div>
