<div class="client-filter-modal">
  <ion-header mode="ios">
    <div class="icon-header">
      <img src="assets/icon/header-bubble.png" />
      <h3>Add Availability</h3>
    </div>
    <div class="top-noch">
      <img src="assets/images/modal-tope.png" />
    </div>
  </ion-header>

  <div *ngIf="userRole == 'athlete'" class="inner-content">
    <div class="main-screen">
      <div class="radio-btn">
        <ion-radio-group value="VIDEO" mode="md">
          <ion-row>
            <ion-col size="6">
              Select Appearance Type
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label>Video</ion-label>
                <ion-radio mode="md" slot="start" value="VIDEO"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </div>
      <ion-row [formGroup]="athleteForm">
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validAthleteInputBorder('startDate')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                id="open-modal"
                formControlName="startDate"
                placeholder="Select Date"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/calendar.svg"
              />
            </ion-item>
            <ion-modal class="dateModal" trigger="open-modal" mode="ios">
              <ng-template>
                <ion-content>
                  <ion-datetime
                    mode="ios"
                    #dateTime
                    [showDefaultButtons]="true"
                    (ionChange)="setDateValue(dateTime.value)"
                  >
                    <span slot="title">Select start time</span></ion-datetime
                  >
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validAthleteInputBorder('duration')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                id="date-time"
                formControlName="duration"
                placeholder="Duration"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/duration.svg"
              />
            </ion-item>
            <ion-modal class="dateModal" trigger="date-time" mode="ios">
              <ng-template>
                <ion-content>
                  <ion-datetime
                    mode="ios"
                    presentation="time"
                    hourCycle="h23"
                    #dateTime
                    [showDefaultButtons]="true"
                    value="00:00"
                    (ionChange)="patchTime(dateTime.value)"
                  >
                    <span slot="title">Select duration</span></ion-datetime
                  >
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validAthleteInputBorder('eventName')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                formControlName="eventName"
                placeholder="Event Name"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/event-name.svg"
              />
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validAthleteInputBorder('minBid')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                formControlName="minBid"
                placeholder="Minimum Bid"
                appThousandSeparateDirective
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/dolor.svg"
              />
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validAthleteInputBorder('description')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-textarea
                formControlName="description"
                placeholder="Message For Fans"
              ></ion-textarea>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/chat.svg"
              />
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <div class="save-card">
        <ion-item lines="none" mode="ios">
          <ion-label>Accept<span>Terms & Conditions</span></ion-label>
          <ion-checkbox
            [(ngModel)]="isTermsAndConditionAccepted"
            slot="start"
            mode="ios"
          ></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>
  <div *ngIf="userRole == 'fan'" class="inner-content">
    <div class="main-screen">
      <div class="radio-btn">
        <ion-radio-group
          [(ngModel)]="fanEventType"
          (ngModelChange)="eventTypeSelected()"
          mode="md"
        >
          <div class="radio-main">
            <div class="radio-text">
              <h5>Select Appearance Type</h5>
            </div>
            <div class="radio-data">
              <ion-item lines="none">
                <ion-label>Video</ion-label>
                <ion-radio
                  mode="md"
                  name="video"
                  slot="start"
                  value="VIDEO"
                ></ion-radio>
              </ion-item>
            </div>
            <div class="radio-data">
              <ion-item lines="none">
                <ion-label>In-Person</ion-label>
                <ion-radio
                  mode="md"
                  slot="start"
                  name="video"
                  value="IN_PERSON"
                ></ion-radio>
              </ion-item>
            </div>
          </div>
        </ion-radio-group>
      </div>
      <ion-row [formGroup]="fanForm">
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('startDate')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                id="open-date"
                formControlName="startDate"
                placeholder="Select Date"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/calendar.svg"
              />
            </ion-item>
            <ion-modal class="dateModal" trigger="open-date" mode="ios">
              <ng-template>
                <ion-content>
                  <ion-datetime
                    mode="ios"
                    #dateTime
                    [showDefaultButtons]="true"
                    (ionChange)="setDateValue(dateTime.value)"
                  >
                    <span slot="title">Select start time</span></ion-datetime
                  >
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-col>

        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('duration')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                id="duration"
                formControlName="duration"
                placeholder="Duration"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/duration.svg"
              />
            </ion-item>
            <ion-modal class="dateModal" trigger="duration" mode="ios">
              <ng-template>
                <ion-content>
                  <ion-datetime
                    mode="ios"
                    presentation="time"
                    hourCycle="h23"
                    #dateTime
                    [showDefaultButtons]="true"
                    value="00:00"
                    (ionChange)="patchTime(dateTime.value)"
                  >
                    <span slot="title">Select duration</span></ion-datetime
                  >
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('eventName')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                formControlName="eventName"
                placeholder="Event Name"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/event-name.svg"
              />
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('selectedAthleteName')"
              lines="none"
              class="ion-align-items-center"
            >
              <input
                matInput
                [matAutocomplete]="auto"
                formControlName="selectedAthleteName"
                placeholder="Select Athlete"
                class="transparent-input"
              />
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/arrow-down.svg"
              />
            </ion-item>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                (click)="selectedAthlete(option)"
                *ngFor="let option of $athletes | async"
                [value]="option.fullName"
              >
                <div class="list-data">
                  <ion-list>
                    <ion-item lines="none">
                      <img slot="start" [src]="option.profileUrl | profile" />
                      <ion-label>
                        <h5>{{option.fullName }}</h5>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </mat-option>
            </mat-autocomplete>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('minBid')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-input
                inputmode="decimal"
                formControlName="minBid"
                placeholder="Appearance Fee ($)"
              ></ion-input>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/dolor.svg"
              />
            </ion-item>
          </div>
        </ion-col>
        <ng-container *ngIf="fanEventType === 'IN_PERSON'">
          <ion-row formGroupName="eventAddress">
            <ion-col size="12">
              <div class="input-box">
                <ion-item
                  [ngClass]="validFanAddressInputBorder('addressLine1')"
                  lines="none"
                  class="ion-align-items-center"
                >
                  <ion-textarea
                    formControlName="addressLine1"
                    placeholder="Address"
                  ></ion-textarea>
                  <img
                    class="ion-align-items-center"
                    slot="end"
                    src="assets/icon/location.svg"
                  />
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="input-box">
                <ion-item
                  [ngClass]="validFanAddressInputBorder('state')"
                  lines="none"
                  class="ion-align-items-center"
                >
                  <ion-input
                    formControlName="state"
                    placeholder="State"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="input-box">
                <ion-item
                  [ngClass]="validFanAddressInputBorder('city')"
                  lines="none"
                  class="ion-align-items-center"
                >
                  <ion-input
                    formControlName="city"
                    placeholder="City"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="input-box">
                <ion-item
                  [ngClass]="validFanAddressInputBorder('zipcode')"
                  lines="none"
                  class="ion-align-items-center"
                >
                  <ion-input
                    formControlName="zipcode"
                    placeholder="Zip Code"
                  ></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-col size="12">
          <div class="input-box">
            <ion-item
              [ngClass]="validFanInputBorder('description')"
              lines="none"
              class="ion-align-items-center"
            >
              <ion-textarea
                formControlName="description"
                placeholder="Message For Fans"
              ></ion-textarea>
              <img
                class="ion-align-items-center"
                slot="end"
                src="assets/icon/chat.svg"
              />
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <div class="save-card">
        <ion-item lines="none" mode="ios">
          <ion-label>Accept<span>Terms & Conditions</span></ion-label>
          <ion-checkbox
            [(ngModel)]="isTermsAndConditionAccepted"
            slot="start"
            mode="ios"
          ></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>

  <ion-footer mode="ios">
    <ion-toolbar mode="ios">
      <ion-button class="white-btn" (click)="onclick_cancel()">
        <img src="assets/icon/close-icon.png" />
      </ion-button>
      <ion-button
        [disabled]="!isTermsAndConditionAccepted"
        (click)="onSubmit()"
        class="white-btn"
      >
        <img src="assets/icon/right-icon.png" />
      </ion-button>
      <div class="nil4all">
        <span>#NIL4ALL</span>
      </div>
    </ion-toolbar>
  </ion-footer>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</div>
