// .tandc-modal {
  ion-header {--background: var(--white-bg);
    ion-toolbar {--background: var(--white-bg);
      position: relative;
      --border-width: 0;
      ion-title {
        align-items: center;
        padding: 0 15px;
        font-size: 1rem;
        color: var(--theme-one-clr);
      }
      ion-icon {
        color: var(--text-black);
        --color: var(--text-black);
        font-size: 1.5rem;
      }
    }
  }
  ion-content {
    --background: #fff;
    ion-grid {
      margin: 0;
      padding: 15px;
      p {
        font-size: 0.875rem;
        color: var(--text-black);
        margin: 0 0 10px;
        font-weight: 400;
        text-align: justify;
        line-height: 21px;
      }
    }
  }
// }
