<ion-content [scrollEvents]="true">
  <ion-grid class="top-card">
    <div class="title-part">
      <ion-item lines="none" mode="md">
        <ion-icon
          routerLink="/tabs/home"
          slot="start"
          name="arrow-back-outline" mode="md"
        ></ion-icon>
        <ion-label>
          <ion-grid class="logo-head">
            <img src="assets/images/single-logo.svg" />
            <div class="nil4all">
              <span>#NIL4ALL</span>
            </div>
          </ion-grid>
        </ion-label>
        <div class="notification" slot="end"   (click)="presentPopover($event)">
          <img src="assets/icon/notification.svg" />
          <span>
            <i *ngIf="this.badgeCount < 99">{{this.badgeCount}}</i>
            <i *ngIf="this.badgeCount > 99">99+</i>
          </span>
        </div>
      </ion-item>
    </div>
  </ion-grid>

  <div *ngIf="userData " class="profile">
    <div class="profile__top">
      <div *ngIf="userData.profileUrl !== ''" class="profile__image">
        <img [src]="userData.profileUrl | profile" alt="" />
        <span class="online"></span>
      </div>
      <ng-container *ngIf="userData.profileUrl == ''">
        <div class="initials">
          <span class="initials__span">
            {{nameInitials}}
          </span>
          <span class="initials__online online"></span>
        </div>
      </ng-container>
      <div class="profile__details">
        <h2 class="profile__name">Hi {{userData?.fullName}}</h2>
        <ng-container *ngIf="userRole == 'fan'">
          <p>{{userData?.teamName}}</p>
          <p>{{userData?.teamState}} <b *ngIf="userData?.teamState == null">/</b> {{userData?.country}}</p>
        </ng-container>
        <ng-container *ngIf="userRole == 'athlete'">
          <p>{{userData?.teamName}}</p>
        </ng-container>
      </div>
    </div>

    <div class="profile__border"></div>

    <!-- <div *ngIf="userRole == 'fan'" class="profile__bottom">
      <h4 class="profile__opp">Opportunities on <span>BubbleApp</span></h4>
      <h6>
        ${{userData?.totalEventAmount}}
      </h6>
      <!--      <ion-button routerLink="/waitlist">Test Video call</ion-button>
    </div> -->

    <div *ngIf="userRole == 'athlete'" class="profile__bottom" (click)="redirectToInvoice()">
      <h4 class="profile__opp">
        Your Bubble cash Earning On <span>BubbleApp</span>
      </h4>
      <h6 *ngIf="commonService.athleteEarnings!=null">
        ${{commonService.athleteEarnings | number: '1.0-2'}}
      </h6>
      <h6 *ngIf="commonService.athleteEarnings==null">
        $ 0
      </h6>

      <!-- <ion-button routerLink="/waitlist">join</ion-button> -->
    </div>
  </div>

  <div class="sticky-div" [ngClass]="isClassAdded ? 'add-bg':''">
    <ion-grid class="tabs-design">
      <ion-segment
        [(ngModel)]="eventState"
        (ngModelChange)="resetAndGetMoreData()"
        mode="ios"
      >
        <ion-segment-button value="APPROVED">
          <ion-label>Upcoming</ion-label>
        </ion-segment-button>
        <ion-segment-button value="PAST">
          <ion-label>Past</ion-label>
        </ion-segment-button>
        <ion-segment-button value="PENDING">
          <ion-label>Requests</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-grid>
    <div class="schedule">
      <h6>{{listHeading()}}</h6>

      <ng-container *ngIf="userRole == 'athlete'">
        <div class="">
          <ion-select
            [(ngModel)]="eventFilter"
            (ngModelChange)="resetAndGetMoreData()"
            interface="popover"
            mode="ios"
            [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover' }"
          >
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option value="me">Created by me</ion-select-option>
            <ion-select-option value="fan">Created by fan</ion-select-option>
            <ion-select-option value="sponsored"
              >Sponsored by</ion-select-option
            >
          </ion-select>
        </div>
      </ng-container>

      <ng-container *ngIf="userRole == 'fan'">
        <div *ngIf="eventState !== 'PENDING'" class="">
          <ion-select
            [(ngModel)]="eventFilter"
            (ngModelChange)="resetAndGetMoreData()"
            interface="popover"
            mode="ios"
            [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
          >
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option value="me">Created by me</ion-select-option>

            <ion-select-option value="athlete"
              >Created by athlete</ion-select-option
            >

            <ion-select-option value="sponsored"
              >Sponsored by</ion-select-option
            >
          </ion-select>
        </div>
      </ng-container>
    </div>
    <!--    <div class="test-btn">-->
    <!--      <ion-button routerLink="/waitlist" class="">Test Video call</ion-button>-->
    <!--    </div>-->
  </div>
  <ion-grid class="content-part">
    <div *ngIf="eventState == 'APPROVED'" class="">
      <div *ngIf="scheduleData.length == 0" class="no-data-found">
        <p>No upcoming event found</p>
      </div>
      <schedule-card
        [userRole]="userRole"
        (changeStatus)=" resetAndGetMoreData()"
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
    <div *ngIf="eventState == 'PAST'" class="">
      <div *ngIf="scheduleData.length == 0" class="no-data-found">
        <p>No past event found</p>
      </div>
      <schedule-card
        [userRole]="userRole"
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
    <div *ngIf="eventState == 'PENDING'" class="">
      <div *ngIf="scheduleData.length == 0" class="no-data-found">
        <p>No upcoming Requests</p>
      </div>
      <schedule-card
        [userRole]="userRole"
        (changeStatus)=" resetAndGetMoreData()"
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
    <ion-infinite-scroll
      [disabled]="isScrollDisabled"
      threshold="100px"
      (ionInfinite)="loadMoreEvents($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</ion-content>



<!-- <ion-modal trigger="logout" class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3>Logout</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>Are you sure, you want to logout from BubbleApp?</p>
      </div>
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button class="white-btn" (click)="onclick_cancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button data-cy="logout" (click)="logout()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal> -->
