<ion-content>
  <ion-grid class="top-card">
    <div class="title-part">
      <ion-item lines="none">
        <ion-icon
          routerLink="/tabs/home"
          slot="start"
          name="arrow-back-outline"
        ></ion-icon>
        <ion-label>
          <ion-grid class="logo-head">
            <img src="assets/images/single-logo.svg" />
            <div class="nil4all">
              <span>#NIL4ALL</span>
            </div>
          </ion-grid>
        </ion-label>
        <div class="notification" slot="end">
          <img src="assets/icon/notification.svg" />
          <span></span>
        </div>
      </ion-item>
    </div>
  </ion-grid>

  <div *ngIf="userData " class="profile">
    <div class="profile__top">
      <div class="profile__image">
        <img [src]="userData.profileUrl | profile" alt="" />

        <span class="online"></span>
      </div>
      <div class="profile__details">
        <h2 class="profile__name">Hi {{userData?.fullName}}</h2>
        <ng-container *ngIf="userRole == 'fan'">
          <p>{{userData?.teamName}}</p>
          <p>{{userData?.teamState}} / {{userData?.teamName}}</p>
        </ng-container>
        <ng-container *ngIf="userRole == 'athlete'">
          <p>{{userData?.teamName}}</p>
        </ng-container>
      </div>
    </div>

    <div class="profile__border"></div>

    <div *ngIf="userRole == 'fan'" class="profile__bottom">
      <h4 class="profile__opp">Opportunities on <span>Bubble App</span></h4>
      <h6>
        ${{userData?.totalEventAmount}}
      </h6>
    </div>

    <div *ngIf="userRole == 'athlete'" class="profile__bottom">
      <h4 class="profile__opp">
        Your Bubble Bills Earning On <span>Bubble App</span>
      </h4>
      <h6>
        ${{userData?.totalEarning}}
      </h6>
    </div>
  </div>

  <ion-grid class="content-part">
    <ion-grid class="tabs-design">
      <ion-segment
        [(ngModel)]="eventState"
        (ngModelChange)=" getScheduleDetails() "
        mode="ios"
      >
        <ion-segment-button value="APPROVED">
          <ion-label>Upcoming</ion-label>
        </ion-segment-button>
        <ion-segment-button value="PAST">
          <ion-label>Past</ion-label>
        </ion-segment-button>
        <ion-segment-button value="PENDING">
          <ion-label>Appearances</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-grid>
    <div class="schedule">
      <h6>SCHEDULE</h6>
      <div class="">
        <ion-select
          [(ngModel)]="eventFilter"
          (ngModelChange)="getScheduleDetails()"
          interface="popover" mode="ios" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
        >
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="me">Created by Me</ion-select-option>
          <ion-select-option *ngIf="userRole == 'athlete'" value="fan"
            >Created by fan</ion-select-option
          >

          <!-- <ion-select-option value="bananas">Sponsored by</ion-select-option> -->
        </ion-select>
      </div>
    </div>
    <div *ngIf="eventState == 'APPROVED'" class="">
      <schedule-card
        (changeStatus)="getScheduleDetails()"
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
    <div *ngIf="eventState == 'PAST'" class="">
      <schedule-card
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
    <div *ngIf="eventState == 'PENDING'" class="">
      <schedule-card
        (changeStatus)="getScheduleDetails()"
        [eventState]="eventState"
        *ngFor="let data of scheduleData"
        [cardData]="data"
      ></schedule-card>
    </div>
  </ion-grid>
</ion-content>
