<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-icon
      slot="start"
      name="arrow-back-outline"
      routerLink="/login"
    ></ion-icon> -->
    <ion-buttons slot="start" mode="md">
      <ion-back-button [text]="null" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-screen">
    <div class="top-screen">
      <!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon> -->
      <ion-grid class="video-part">
        <video height="100%" width="100%" poster="http://content.bitsontherun.com/thumbs/bkaovAYt-320.jpg"  loop="" muted autoplay>
          <source src="assets/video/video.mp4">
          <source src="assets/video/video.webm">
          <p class="warning">Your browser does not support HTML5 video.</p>
        </video>
      </ion-grid>

      <ion-grid class="logo-head">
        <img src="assets/images/logo.svg" />
        <div class="nil4all">
          <span>#NIL4ALL</span>
        </div>
      </ion-grid>

      <ion-grid class="overlay-bg"></ion-grid>
    </div>

    <ion-grid class="content-part">
      <div class="main-part">
        <div class="auth-title sticky-top">
          <img src="assets/images/auth-img.png" />
          <h4>Verify OTP</h4>
          <p>
            To verify your email,<br />
            we've sent a One-Time Password (OTP) to<br />
            your email address.<br />
            Please enter the password below.
          </p>
        </div>

        <div class="auth-form">
          <ng-otp-input
            [formCtrl]="otpFormControl"
            [config]="otpInputConfig"
          ></ng-otp-input>
        </div>
        <h4 *ngIf="timeLeft !==0" class="otp-timer">
          {{secondsToHms(timeLeft)}}
        </h4>

        <div *ngIf="timeLeft ==0" class="resend-text">
          <p>
            Didn’t recieve the verification code?
            <span (click)="resendOtp()">Resend</span>
          </p>
        </div>

        <div class="auth-btn">
          <ion-button (click)="onSubmit()">
            <img src="assets/images/button-auth.png" />
            <span>Confirm</span>
          </ion-button>
        </div>

        <div class="auth-back-text">
          <p routerLink="/auth/login">
            Back to
            <span>Login</span>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </div>
      </div>
      <ion-grid class="buble-part">
        <div class="dots-bubble">
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </ion-grid>
    </ion-grid>
  </div>
</ion-content>
