<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="arrow-back-outline"
      routerLink="/auth/login"
    ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-screen">
    <div class="top-screen">
      <!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon> -->
      <ion-grid class="video-part">
        <video
          height="100%"
          width="100%"
          poster="assets/video/video-poster.png"
          loop=""
          muted
          autoplay
          webkit-playsinline playsinline
        >
          <source src="assets/video/video.mp4" />
          <source src="assets/video/video.webm" />
          <p class="warning">Your browser does not support HTML5 video.</p>
        </video>
      </ion-grid>

      <ion-grid class="logo-head">
        <img src="assets/images/logo.svg" />
        <div class="nil4all">
          <span>#NIL4ALL</span>
        </div>
      </ion-grid>

      <ion-grid class="overlay-bg"></ion-grid>
    </div>

    <ion-grid class="content-part">
      <div class="main-part">
        <div class="auth-title sticky-top">
          <img src="assets/images/auth-img.svg" />
          <h4>Forgot Password</h4>
          <p>Please enter your login email address to reset your password.</p>
        </div>

        <div class="auth-form">
          <div class="input-box">
            <ion-item
              [ngClass]="isFormSubmitted && emailController.invalid ? 'error-border':' '"
              lines="none"
              id="emailInputContainer"
            >
              <ion-label position="floating">Email</ion-label>
              <ion-input
                lines="none"
                autocomplete="off"
                type="email"
                [formControl]="emailController"
              ></ion-input>
              <img
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/email.svg"
              />
            </ion-item>
            <div
              *ngIf="isFormSubmitted && emailController.errors?.required"
              class="error-msg"
              id="emailRequiredError"
            >
              <p>
                <img src="assets/icon/info-red.svg" /> Email address is required
              </p>
            </div>
            <div
              *ngIf="isFormSubmitted && emailController?.errors?.pattern"
              class="error-msg"
              id="emailInvalidError"
            >
              <p>
                <img src="assets/icon/info-red.svg" /> Email address is invalid
              </p>
            </div>
          </div>
        </div>

        <div class="auth-btn">
          <ion-button (click)="onSubmit()" id="submitBtn">
            <img src="assets/images/button-auth.png" />
            <span>Send <br> OTP</span>
          </ion-button>
        </div>

        <div class="auth-back-text">
          <p routerLink="/auth/login">
            Back to
            <span>Login</span>
            <ion-icon name="chevron-back-outline"></ion-icon>
          </p>
        </div>
      </div>
      <ion-grid class="buble-part">
        <div class="dots-bubble">
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </ion-grid>
    </ion-grid>
  </div>
</ion-content>
