ion-tabs {
  // background: var(--theme-one-bg);
  // --background: var(--theme-one-bg);
  ion-tab-bar {
    height: 100px;
    --border: 0;
    background-color: var(--theme-one-bg);
    background-size: 100%;
    border-radius: 0;
    margin-top: -1px;
    .tabs-btn-main {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      align-self: flex-end;
      // background: url(../../../assets/images/tabs-bg.png) no-repeat center center;

      ion-tab-button {
        height: 58px;
        background: transparent;
        align-self: flex-end;
        img {
          width: 25px;
          margin-top: 0;
        }
        ion-label {
          color: #818181;
        }
        &.profile {
          span {
            height: 30px;
            width: 30px;
            border-radius: 30px;
            border: 1px solid var(--white-clr);
            display: inline-block;
            img {
              height: 100%;
              width: 100%;
              border-radius: 30px;
            }
          }
        }
        &.main-btn {
          max-width: 50px;
          position: absolute;
          top: -2px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 999;
          img {
            width: 50px;
          }
          &.tab-selected {
            &::after {
              display: none;
            }
          }
        }
      }
      .menu-shape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 70px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.initial {
  position: relative;
  &__span {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background-color: #1b4b64;
    margin-left: 9px;
    color: #fff;
    display: grid !important;
    place-items: center;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid white;
  }
}
