<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom" mode="ios">
    <div class="tabs-btn-main">
      <ion-tab-button tab="home" mode="ios">
        <img src="assets/icon/calendar.png">
      </ion-tab-button>
      
      <ion-tab-button tab="profile" class="main-btn" mode="ios">
          <img src="assets/icon/tabs-main.png">
      </ion-tab-button>
      
      <ion-tab-button tab="profile" class="profile" mode="ios">
          <span>
              <img src="assets/images/profile.png">
          </span>
      </ion-tab-button>
      <div class="menu-shape">
          <img src="assets/images/tabs-bg.png">
      </div>
    </div>
  </ion-tab-bar>
</ion-tabs>


