<ion-tabs mode="md">
  <ion-tab-bar slot="bottom" mode="md">
    <div class="tabs-btn-main">
      <ion-tab-button data-cy="profile" tab="profile" class=" tab-btn" mode="md">
          <div class="tabs-inner-main">

          
          <!-- <span *ngIf="userData?.profileUrl !==''">
            <img [src]="userData?.profileUrl | profile" />
          </span>

          <div *ngIf="userData?.profileUrl ==''" class="inital">
            <span class="initial__span">
              {{nameInitials}}
            </span>
          </div> --> 
          <div class="icon-part">
            <!-- <img class="white-clr" src="assets/icon/profile-icon.svg" />
            <img class="blue-clr" src="assets/icon/profile-icon-b.svg" /> -->
            <span *ngIf="userData?.profileUrl !==''">
              <img  [src]="userData?.profileUrl | profile" />
            </span>  
            <div *ngIf="userData?.profileUrl ==''" class="inital">
              <span  class="initial__span">
                {{nameInitials}}
              </span>
            </div>
         
            <!-- <span *ngIf="userData?.profileUrl !==''">
              <img class="blue-clr" [src]="userData?.profileUrl | profile" /></span>  
              <div *ngIf="userData?.profileUrl ==''" class="inital">
                <span class="blue-clr" >
                  {{nameInitials}}
                </span>
              </div> -->
          </div>
        </div>
        <div class="round-shap-main">
          <div class="round-shap"></div>
        </div>
      </ion-tab-button>

      <ion-tab-button tab="schedule" mode="md" class="tab-btn">
        <div class="tabs-inner-main">
          <div class="icon-part">
            <img class="white-clr" src="assets/icon/calendar-white.svg" />
            <img class="blue-clr" src="assets/icon/calendar-b.svg" />
          </div>
        </div>
        <div class="round-shap-main">
          <div class="round-shap"></div>
        </div>
        
      </ion-tab-button>

      <ion-tab-button (click)="presentAppearanceBookingModal()" mode="md" class="tab-btn">
        <div class="tabs-inner-main">
          <div class="icon-part">
            <img class="white-clr" src="assets/icon/add-btn.svg" />
            <img class="blue-clr" src="assets/icon/add-btn-b.svg" />
          </div>
        </div>
        <div class="round-shap-main">
          <div class="round-shap"></div>
        </div>
      </ion-tab-button>

      <ion-tab-button tab="help" mode="md" class="tab-btn">
        <div class="tabs-inner-main">
          <div class="icon-part">
            <img class="white-clr" src="assets/icon/help.svg" />
            <img class="blue-clr" src="assets/icon/help-b.svg" />
          </div>
        </div>
        <div class="round-shap-main">
          <div class="round-shap"></div>
        </div>
      </ion-tab-button>

      
    
      
<!-- 
      <ion-tab-button tab="help" mode="md">
        <img src="assets/icon/help.svg" />
      </ion-tab-button> -->

    </div>
  </ion-tab-bar>
  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75]"
    [backdropDismiss]="false"
    [backdropBreakpoint]="0.5"
  >
    <ng-template>
      <ion-content>
        <ion-searchbar
          placeholder="Search"
          (click)="modal.setCurrentBreakpoint(0.75)"
        ></ion-searchbar>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Daniel Smith</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Greg Smith</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Zoey Smith</h2>
              <p>CEO</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-tabs>
<svg width="0" height="0" >
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="20" result="blur" id="blurFilter"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 30 -15" result="goo" />
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>