<ion-app>
  <!-- <ion-grid class="video-part" [hidden]="!isShowingSplashScreen">
    <video height="100%" loop="" width="100%" muted autoplay>
      <source src="assets/video/splash.mp4" />

      <p class="warning">Your browser does not support HTML5 video.</p>
    </video>
  </ion-grid> -->
  <ion-router-outlet [hidden]="isShowingSplashScreen"></ion-router-outlet>
  <a style="z-index:999;display: none;" id="playstore" href="https://play.google.com/store/apps/details?id=com.bubble_app_9093.app"></a>
  <a style="z-index:999;display: none;" id="ios" href="https://apps.apple.com/in/app/bubbleappnil/id1659995286"></a>
</ion-app>
