<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="arrow-back-outline"
      routerLink="/bubble-screen"
    ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-screen">
    <div class="top-screen">
      <ion-grid class="video-part">
        <video
          height="100%"
          width="100%"
          poster="assets/video/video-poster.png"
          loop=""
          muted
          autoplay
          webkit-playsinline
          playsinline
        >
          <source src="assets/video/video.mp4" />
          <source src="assets/video/video.webm" />
          <p class="warning">Your browser does not support HTML5 video.</p>
        </video>
      </ion-grid>

      <ion-grid class="logo-head">
        <img src="assets/images/logo.svg" />
        <div class="nil4all">
          <span>#NIL4ALL</span>
        </div>
      </ion-grid>

      <ion-grid class="overlay-bg"></ion-grid>
    </div>

    <ion-grid class="content-part">
      <div class="main-part">
        <div class="auth-title sticky-top">
          <img src="assets/images/auth-img.png" />
          <h4>Login</h4>
          <p>Welcome! Login to your account.</p>
        </div>

        <form [formGroup]="loginForm" class="auth-form">
          <div class="input-box">
            <ion-item
              id="userNameInputContainer"
              [ngClass]="isFormSubmitted && loginForm.controls.email.invalid ? 'error-border':' '"
              lines="none"
            >
              <ion-label position="floating">Email</ion-label>
              <ion-input
                formControlName="email"
                autocomplete="on"
                type="email"
              ></ion-input>
              <img
                *ngIf="loginForm.controls.email.invalid"
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/email.svg"
              />
              <img
                *ngIf="isFormSubmitted && loginForm.controls.email.valid"
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/right-green.svg"
              />
            </ion-item>
            <div
              *ngIf="isFormSubmitted && loginForm.controls.email.invalid"
              class="error-msg"
              id="userNameError"
            >
              <p>
                <img src="assets/icon/info-red.svg" /> Email address is required
              </p>
            </div>
          </div>

          <div class="input-box">
            <ion-item
              id="passwordInputContainer"
              [ngClass]="isFormSubmitted && loginForm.controls.password.invalid ? 'error-border':' '"
              lines="none"
            >
              <ion-label position="floating">Password</ion-label>
              <ion-input
                formControlName="password"
                autocomplete="on"
                [type]=" isShowingPassword ? 'text' : 'password'"
              ></ion-input>
              <img
                *ngIf="isShowingPassword"
                (click)="showPasswordToggle()"
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/hide.svg"
              />
              <img
                *ngIf="!isShowingPassword"
                (click)="showPasswordToggle()"
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/show.svg"
              />
            </ion-item>
            <div
              *ngIf="isFormSubmitted && loginForm.controls.password.invalid"
              class="error-msg"
              id="passwordError"
            >
              <p><img src="assets/icon/info-red.svg" /> Password is required</p>
            </div>
          </div>
        </form>

        <div class="forgot-pass">
          <p routerLink="/auth/forgot">Forgot Password?</p>
        </div>

        <div class="auth-btn">
          <ion-button id="submitBtn" (click)="onSubmit()">
            <img src="assets/images/button-auth.png" />
            <span>Login</span>
          </ion-button>
        </div>

        <div class="or-login-with">
          <div class="main-text">
            <span class="line"></span>
            <p>Or Login With</p>
            <span class="line"></span>
          </div>
        </div>

        <div class="social-media">
          <ion-button (click)="faceBookSignIn()">
            <img src="assets/images/facebook.png" />
          </ion-button>
          <ion-button (click)="googleSignIn()">
            <img src="assets/images/google.png" />
          </ion-button>
        </div>

        <div routerLink="/auth/signup" class="create-account">
          <p>Create Bubble App Account</p>
        </div>
      </div>
      <ion-grid class="buble-part">
        <div class="dots-bubble">
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </ion-grid>
    </ion-grid>
  </div>
</ion-content>
