<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="arrow-back-outline"
      routerLink="/auth/login"
    ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-screen">
    <div class="top-screen">
      <!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon> -->
      <ion-grid class="video-part">
        <video
          height="100%"
          width="100%"
          poster="http://content.bitsontherun.com/thumbs/bkaovAYt-320.jpg"
          loop=""
          muted
        >
          <source
            src="http://content.bitsontherun.com/videos/bkaovAYt-52qL9xLP.mp4"
          />
          <source
            src="http://content.bitsontherun.com/videos/bkaovAYt-27m5HpIu.webm"
          />
          <p class="warning">Your browser does not support HTML5 video.</p>
        </video>
      </ion-grid>

      <ion-grid class="logo-head">
        <img src="assets/images/logo.svg" />
      </ion-grid>

      <ion-grid class="overlay-bg"></ion-grid>
    </div>

    <ion-grid class="content-part">
      <div class="main-part">
        <div class="auth-title sticky-top">
          <img src="assets/images/auth-img.png" />
          <h4>Login</h4>
          <p>Welcome! Login to your account.</p>
        </div>

        <div class="auth-form">
          <div class="input-box">
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input autocomplete="off" type="email"></ion-input>
              <img
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/email.svg"
              />
            </ion-item>
          </div>

          <div class="input-box">
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input autocomplete="off" type="password"></ion-input>
              <img
                class="ion-align-self-center"
                slot="end"
                src="assets/icon/hide.svg"
              />
            </ion-item>
          </div>
        </div>

        <div class="forgot-pass">
          <p routerLink="/forgot">Forget Password?</p>
        </div>

        <div class="auth-btn">
          <ion-button>
            <img src="assets/images/button-auth.png" />
            <span>Login</span>
          </ion-button>
        </div>

        <div class="or-login-with">
          <div class="main-text">
            <span class="line"></span>
            <p>Or Login With</p>
            <span class="line"></span>
          </div>
        </div>

        <div class="social-media">
          <ion-button>
            <img src="assets/images/facebook.png" />
          </ion-button>
          <ion-button>
            <img src="assets/images/google.png" />
          </ion-button>
        </div>

        <div class="create-account">
          <p routerLink="/auth/signup">Create Bubble App Account</p>
        </div>
      </div>
      <ion-grid class="buble-part">
        <div class="dots-bubble">
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </ion-grid>
    </ion-grid>

    <ion-grid class="logo-head">
      <img src="assets/images/logo.svg" />
    </ion-grid>

    <ion-grid class="overlay-bg"></ion-grid>
  </div>

  <ion-grid class="content-part">
    <div class="main-part">
      <div class="auth-title sticky-top">
        <img src="assets/images/auth-img.png" />
        <h4>Login</h4>
        <p>Welcome! Login to your account.</p>
      </div>

      <form [formGroup]="loginForm" class="auth-form">
        <div class="input-box">
          <ion-item
            id="userNameInputContainer"
            [ngClass]="isFormSubmitted && loginForm.controls.userName.invalid ? 'error-border':' '"
            lines="none"
          >
            <ion-label position="floating">Email</ion-label>
            <ion-input
              formControlName="userName"
              autocomplete="on"
              type="email"
            ></ion-input>
            <img
              *ngIf="!isFormSubmitted"
              class="ion-align-self-center"
              slot="end"
              src="assets/icon/email.svg"
            />
            <img
              *ngIf="isFormSubmitted && loginForm.controls.userName.valid"
              class="ion-align-self-center"
              slot="end"
              src="assets/icon/right-green.svg"
            />
          </ion-item>
          <div
            *ngIf="isFormSubmitted && loginForm.controls.userName.invalid"
            class="error-msg"
            id="userNameError"
          >
            <p>
              <img src="assets/icon/info-red.svg" /> Email address is required
            </p>
          </div>
        </div>

        <div class="input-box">
          <ion-item
            id="passwordInputContainer"
            [ngClass]="isFormSubmitted && loginForm.controls.password.invalid ? 'error-border':' '"
            lines="none"
          >
            <ion-label position="floating">Password</ion-label>
            <ion-input
              formControlName="password"
              autocomplete="on"
              [type]=" isShowingPassword ? 'text' : 'password'"
            ></ion-input>
            <img
              *ngIf="isShowingPassword"
              (click)="showPasswordToggle()"
              class="ion-align-self-center"
              slot="end"
              src="assets/icon/hide.svg"
            />
            <img
              *ngIf="!isShowingPassword"
              (click)="showPasswordToggle()"
              class="ion-align-self-center"
              slot="end"
              src="assets/icon/show.svg"
            />
          </ion-item>
          <div
            *ngIf="isFormSubmitted && loginForm.controls.password.invalid"
            class="error-msg"
            id="passwordError"
          >
            <p><img src="assets/icon/info-red.svg" /> Password is required</p>
          </div>
        </div>
      </form>

      <div class="forgot-pass">
        <p routerLink="/auth/forgot">Forget Password?</p>
      </div>

      <div class="auth-btn">
        <ion-button id="submitBtn" (click)="onSubmit()">
          <img src="assets/images/button-auth.png" />
          <span>Login</span>
        </ion-button>
      </div>

      <div class="or-login-with">
        <div class="main-text">
          <span class="line"></span>
          <p>Or Login With</p>
          <span class="line"></span>
        </div>
      </div>

      <div class="social-media">
        <ion-button>
          <img src="assets/images/facebook.png" />
        </ion-button>
        <ion-button>
          <img src="assets/images/google.png" />
        </ion-button>
      </div>

      <div class="create-account">
        <p>Create Bubble App Account</p>
      </div>
    </div>
    <ion-grid class="buble-part">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  </ion-grid>
</ion-content>
