<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  
  <div class="top-screen">
    <!-- <ion-icon slot="start" name="arrow-back-outline"></ion-icon> -->
    <ion-grid class="video-part">
      <video height="100%" width="100%" poster="http://content.bitsontherun.com/thumbs/bkaovAYt-320.jpg" autoplay="" loop="" muted="" controls="">
        <source src="http://content.bitsontherun.com/videos/bkaovAYt-52qL9xLP.mp4">
        <source src="http://content.bitsontherun.com/videos/bkaovAYt-27m5HpIu.webm">
        <p class="warning">Your browser does not support HTML5 video.</p>
      </video>
    </ion-grid>
  
    <ion-grid class="logo-head">
      <img src="assets/images/logo.svg">
    </ion-grid>
  
    <ion-grid class="overlay-bg"></ion-grid>
  </div>

  <ion-grid class="content-part">
    <div class="sticky-part">
        <div class="auth-title">
            <img src="assets/images/auth-img.png">
            <h4>Login</h4>
            <p>Welcome! Login to your account.</p>
        </div>

        <div class="auth-form">
            
              <div class="input-box">
                <ion-item lines="none">
                  <ion-label position="floating">Select Date</ion-label>
                  <ion-input autocomplete="off" type="email"></ion-input>
                  <img
                    class="ion-align-self-center"
                    slot="end"
                    src="assets/icon/email.svg"
                  />
                </ion-item>
              </div>
            
              <div class="input-box">
                <ion-item lines="none">
                  <ion-label position="floating">Minimum Bid</ion-label>
                  <ion-input autocomplete="off" type="password"></ion-input>
                  <img
                    class="ion-align-self-center"
                    slot="end"
                    src="assets/icon/hide.svg"
                  />
                </ion-item>
              </div>
          
        </div>

        <div class="forgot-pass">
            <p>Forget Password?</p>
        </div>

        <div class="auth-btn">
            <ion-button> 
              <img src="assets/images/button-auth.png"> 
              <span>Login</span>
            </ion-button>
        </div>

        <div class="or-login-with">
          <div class="main-text">
            <span class="line"></span>
            <p>Or Login With</p>
            <span class="line"></span>
          </div>
        </div>

        <div class="social-media">
            <ion-button>
                <img src="assets/images/facebook.png">
            </ion-button>
            <ion-button>
              <img src="assets/images/google.png">
            </ion-button>
        </div>

        <div class="create-account">
            <p>Create Bubble App Account</p>
        </div>

        <ion-grid class="buble-part">
          <div class="dots-bubble">
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots"></div>
          </div>
        </ion-grid>

    </div>
  </ion-grid>

</ion-content>
