<!-- <ion-header>
  <ion-toolbar>
    <ion-title>help-section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->



<ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar>
        <img src="assets/images/single-logo.svg" />
        <div class="notification" slot="end" (click)="presentPopover($event)">
          <img src="assets/icon/notification.svg" >
          <span>
            <i *ngIf="this.badgeCount < 99">{{this.badgeCount}}</i>
            <i *ngIf="this.badgeCount > 99">99+</i>
          </span>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-grid class="bg-bubble">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>

        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  <!-- </ion-grid> -->
<div class="bg-images">

</div>
  <ion-grid class="logo-bg">
    <img src="assets/icon/logo-bg.png" />
    <span>Work in progress</span>
  </ion-grid>
</ion-content>


