<ion-content [fullscreen]="true">
  <ion-header mode="ios">
    <ion-toolbar mode="ios">
      <img src="assets/images/single-logo.svg" />
      <span class="time" slot="end">
        03 m : 00 s
      </span>
    </ion-toolbar>
  </ion-header>

  <!-- <div class="caller-name">
      <h4>Casey Rodgers</h4>
      <p>Incoming Video Call</p>
  </div> -->

  <div class="video-box">
    <div #athleteContainer class=""></div>
  </div>

  <div class="caller-img">
    <div #fanContainer class=""></div>
    <img src="assets/images/video-screen.png" />
  </div>

  <!-- <div class="overlay-bg"></div> -->

  <div class="call-buttons">
    <ion-button>
      <div class="btn-data">
        <span>
          <img src="assets/icon/voice.svg" />
        </span>
        <p>Mute</p>
      </div>
    </ion-button>
    <ion-button>
      <div class="btn-data">
        <span><img src="assets/icon/video-call.svg" /></span>
        <p>video</p>
      </div>
    </ion-button>
    <ion-button>
      <div class="btn-data">
        <span><img src="assets/icon/flip-camara.svg" /></span>
        <p>flip</p>
      </div>
    </ion-button>
  </div>
</ion-content>
