<ion-content [fullscreen]="true">
  <ion-header mode="ios">
    <ion-toolbar mode="ios">
      <img src="assets/images/single-logo.svg" />
      <span class="time" slot="end" [style.background]= "color">
        {{secondsToHms(timeLeft)}}
      </span>
    </ion-toolbar>
  </ion-header>

  <!-- <div class="caller-name">
      <h4>Casey Rodgers</h4>
      <p>Incoming Video Call</p>
  </div> -->

  <div class="video-box">
    <div #athleteContainer class=""></div>
    <!-- <img *ngIf="subscribe?.stream?.hasAudio==false" src="assets/icon/voice-off.svg" /> -->
    <!-- <img *ngIf="subscribe?.stream.hasAudio==true" src="assets/icon/voice.svg " /> -->
  </div>

  <div class="caller-img" >
    <div #fanContainer class=""></div>
    <!-- <img src="assets/images/video-screen.png" /> -->

    <!-- <img src="assets/images/call-screen-updated.png" /> -->
    <div class="caller-info">
      <div class="img-part" id="imgName" *ngIf="userRole != 'athlete'">
        <img 
        *ngIf="commonService.callingAthleteDetails?.athleteProfilePicture !=='' "
        [src]="commonService.callingAthleteDetails?.athleteProfilePicture | profile"
        alt="" class="cover-img"
      />
  
          <!-- <img *ngIf="this.userDetail.profileUrl!=''" src="{{this.userDetail.profileUrl | profile}}"> -->
         
        <span *ngIf="commonService.callingAthleteDetails?.athleteProfilePicture==''">{{this.commonService.getInitials(this.commonService.callingAthleteDetails?.athleteName)}}</span>
       

      </div>
      <div class="name-part" *ngIf="userRole != 'athlete'">
        <p>{{this.commonService.callingAthleteDetails?.athleteName}}</p>
      </div>
      <div class="img-part" *ngIf="userRole =='athlete'">
        <img 
        *ngIf="commonService.callingFanDetail?.userProfilePicture !=='' "
        [src]="commonService.callingFanDetail?.userProfilePicture | profile"
        alt="" class="cover-img"
      />
          <!-- <img *ngIf="this.userDetail.profileUrl!=''" src="{{this.userDetail.profileUrl | profile}}"> -->
         
        <span *ngIf="commonService.callingFanDetail?.userProfilePicture==''">{{this.commonService.getInitials(this.commonService.callingFanDetail?.userName)}}</span>
      </div>
      <div class="name-part" *ngIf="userRole == 'athlete'">
        <p>{{this.commonService.callingFanDetail?.userName}}</p>
       <span class="calling-text">calling...</span>
      </div>

    
    </div>
    
  </div>

  <!-- <div class="overlay-bg"></div> -->
<div class="mute-icon">
  <img *ngIf="subscribe?.stream?.hasAudio==false" src="assets/icon/voice-off.svg" />
</div>
  <div class="call-buttons">
    <ion-button (click)="toggleMuteButton()">
      <div class="btn-data">
        <span>
          <img *ngIf="!isAudioMuted" src="assets/icon/voice.svg" />
          <img *ngIf="isAudioMuted" src="assets/icon/voice-off.svg" />
        </span>
        <p>{{isAudioMuted ? ' Unmute' : 'Mute' }}</p>
      </div>
    </ion-button>
    <ion-button (click)="toggleVideoButton()">
      <div class="btn-data">
        <span>
          <img *ngIf="isVideoOn" src="assets/icon/video-call.svg" />
          <img *ngIf="!isVideoOn" src="assets/icon/video-call-off.svg" />
        </span>
        <p>{{isVideoOn ? 'video on ' : 'video off' }}</p>
      </div>
    </ion-button>
    <ion-button (click)="switchCameraSource()">
      <div class="btn-data">
        <span><img src="assets/icon/flip-camara.svg" /></span>
        <p>flip</p>
      </div>
    </ion-button>
    <ion-button (click)="disconnectCall()" *ngIf="userRole == 'athlete'">
      <div class="btn-data end-call">
        <span><img src="assets/icon/end-call.svg" /></span>
        <p>End</p>
      </div>
    </ion-button>
  </div>
</ion-content>
