<ion-content [scrollEvents]="true">
  <div class="main-screen">
    <ion-grid class="top-card">
      <div class="title-part">
        <ion-item routerLink="/" lines="none" mode="md">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          <ion-label>
            <ion-grid class="logo-head">
              <img src="assets/images/single-logo.svg" />
              <div class="nil4all">
                <span>#NIL4ALL</span>
              </div>
            </ion-grid>
          </ion-label>
          <!-- <div class="notification" slot="end">
            <img src="assets/icon/notification.svg" />
            <span></span>
          </div> -->
        </ion-item>
      </div>
      <div class="profile-img">
        <img src="assets/images/profile.png" />
      </div>
      <div class="overlay-blue"></div>
    </ion-grid>

    <div class="wait-part">
      <div class="head">
        <div class="bids-available">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/images/upload-img.png" />
            </ion-avatar>
            <ion-avatar slot="start">
              <img src="assets/images/upload-img.png" />
            </ion-avatar>
            <ion-avatar slot="start">
              <img src="assets/images/upload-img.png" />
            </ion-avatar>
            <ion-avatar slot="start" class="last">
              <img src="assets/images/upload-img.png" />
            </ion-avatar>
            <ion-label>
              {{connectedFans?.length}} Bids Available
            </ion-label>
          </ion-item>
        </div>
        <p>To join the live, please click on the button</p>
      </div>

      <div class="content-part">
        <div *ngIf="connectedFans" class="bid-list">
          <!-- add class "top-call" in bg-white-box -->
          <div
            *ngFor="let fan of connectedFans;let i =index"
            [ngClass]="i==0 ? 'top-call':'' "
            class="bg-white-box"
          >
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="assets/images/profile.png" />
              </ion-avatar>
              <ion-label>
                <h5>{{fan.userName}}</h5>
                <p>${{fan.totalAmount.toFixed()}}</p>
              </ion-label>
              <img
                class="video"
                (click)="callFan(fan.id)"
                slot="end"
                src="assets/icon/video-icon.png"
              />
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button>
      <img src="assets/images/red-video.png" />
    </ion-button>
  </ion-toolbar>
</ion-footer>
