<ion-content [scrollEvents]="true" [forceOverscroll]="false">
  <div class="main-screen">
    <ion-grid class="top-card">
      <div class="title-part">
        <ion-item  lines="none" mode="md">
          <ion-icon (click)="routeBackToSchedule()" slot="start" name="arrow-back-outline" mode="md"></ion-icon>
          <ion-label>
            <ion-grid class="logo-head">
              <img src="assets/images/single-logo.svg" />
              <div class="nil4all">
                <span>#NIL4ALL</span>
              </div>
            </ion-grid>
          </ion-label>
          <!-- <div class="notification" slot="end"  (click)="presentPopover($event)">
            <img src="assets/icon/notification.svg" />
            <span></span>
          </div> -->
        </ion-item>
      </div>
      <div class="profile-img">
        <img [src]="userData?.profileUrl | profile"/>
      </div>
      <div class="overlay-blue"></div>
      <div class="slider-part">
        <ion-slides [options]="slideOpts" autoplay="400" speed="3000">
          <ion-slide *ngFor="let athlete of athleteList">
            <div class="slide">
              <div class="img-box">
                <img src="{{athlete.profileUrl | profile}}" />
              </div>
              <h5>{{athlete?.fullName}}</h5>
            </div>
          </ion-slide>
          <!-- <ion-slide>
              <div class="slide">
                <img src="assets/images/big-chicken.png" />
                <h5>Papa John's</h5>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="assets/images/big-chicken.png" />
                <h5>FILA</h5>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="assets/images/big-chicken.png" />
                <h5>FILA</h5>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="assets/images/big-chicken.png" />
                <h5>FILA</h5>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide">
                <img src="assets/images/big-chicken.png" />
                <h5>BIG Chicken</h5>
              </div>
            </ion-slide> -->
        </ion-slides>
      </div>
    </ion-grid>

    <div class="wait-part">
      <div class="head">
        <div class="bids-available">
          <ion-item lines="none">
            <ion-avatar
              *ngFor="let fan of fanImagesList;let i =index"
              slot="start"
            >
              <img
                *ngIf="fan.userProfilePicture !== ''"
                [src]="fan.userProfilePicture | profile"
              />
              <div *ngIf="fan.userProfilePicture == ''" class="initials">
                <span class="initials__span-small">
                  {{getInitials(fan.userName)}}
                </span>
              </div>
            </ion-avatar>

            <ion-label>
              {{connectedFans?.length}} Bids Available
            </ion-label>
          </ion-item>
        </div>
        <p>To join the live, please click on the button</p>
      </div>

      <div class="content-part">
        <div *ngIf="calledFans" class="bid-list">
          <!-- add class "top-call" in bg-white-box -->
          <div
            *ngFor="let fan of calledFans;let i =index"
            class="bg-white-box top-call"
          >
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ng-container *ngIf="fan.userProfilePicture == ''">
                  <div class="initials">
                    <span class="initials__span">
                      {{getInitials(fan.userName)}}
                    </span>
                  </div>
                </ng-container>
                <img
                  *ngIf="fan.userProfilePicture !== ''"
                  [src]="fan.userProfilePicture |profile"
                />
              </ion-avatar>
              <ion-label>
                <h5>{{fan.userName}}</h5>
                <p>${{fan.totalAmount.toFixed()}}</p>
              </ion-label>
              <img
                class="video"
                (click)="callFan(fan)"
                slot="end"
                src="assets/icon/video-icon.png"
              />
            </ion-item>
          </div>
        </div>
        <div *ngIf="pendingCallFans" class="bid-list">
          <!-- add class "top-call" in bg-white-box -->
          <div
            *ngFor="let fan of pendingCallFans;let i =index"
            [ngClass]="i==0 ? 'top-call':'' "
            class="bg-white-box"
          >
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ng-container *ngIf="fan.userProfilePicture == ''">
                  <div class="initials">
                    <span class="initials__span">
                      {{getInitials(fan.userName)}}
                    </span>
                  </div>
                </ng-container>
                <img
                  *ngIf="fan.userProfilePicture !== ''"
                  [src]="fan.userProfilePicture |profile"
                />
              </ion-avatar>
              <ion-label>
                <h5>{{fan.userName}}</h5>
                <p>${{fan.totalAmount.toFixed()}}</p>
              </ion-label>
              <img
                class="video"
                (click)="callFan(fan)"
                slot="end"
                src="assets/icon/video-icon.png"
              />
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="eventEnd();" id="end-event">
      <img src="assets/images/red-video.png" />
    </ion-button>
  </ion-toolbar>
</ion-footer>
