<ion-content [fullscreen]="true">
  <ion-grid class="top-card">
    <div class="title-part">
      <ion-item lines="none" mode="md">
        <ion-icon
          routerLink="/tabs/home"
          slot="start"
          name="arrow-back-outline" mode="md"
        ></ion-icon>
        <ion-label>
          <ion-grid class="logo-head">
            <img src="assets/images/single-logo.svg" />
            <div class="nil4all">
              <span>#NIL4ALL</span>
            </div>
          </ion-grid>
        </ion-label>
        <div class="notification" slot="end" (click)="presentPopover($event)">
          <img src="assets/icon/notification.svg" />
          <span></span>
        </div>
      </ion-item>
    </div>
    <div class="profile-part">
      <ion-item lines="none">
        <ion-avatar *ngIf="userData?.profileUrl !==''" slot="start">
          <!-- <img src="assets/images/profile.png" /> -->
          <img [src]="userData?.profileUrl | profile" />
        </ion-avatar>
        <ion-avatar *ngIf="userData?.profileUrl ==''" slot="start">
          <!-- <img src="assets/images/profile.png" /> -->
          <div class="inital">
            <span class="initial__span">
              {{nameInitials}}
            </span>
          </div>
        </ion-avatar>
        <ion-label>
          <h5>{{userData?.fullName | titlecase}}</h5>
          <ng-container *ngIf="currentUserRole =='fan'">
            <p>{{userData?.teamName}}</p>
            <p>{{userData?.teamState}} / {{userData?.country}}</p>
            <div class="bubble-bills">
              <h6>
                Bubble bills - <span>${{userData?.totalEventAmount}}</span>
              </h6>
              <p>{{userData?.totalEventCount}} Appearances held</p>
            </div>
          </ng-container>
          <ng-container *ngIf="currentUserRole =='athlete'">
            <p class="athlete-money">
              $ {{userData?.totalEarning | number:'1.0':'en-US'}}
            </p>
            <span class="athlete-total">Total Earning</span>
          </ng-container>
        </ion-label>
      </ion-item>
    </div>
    <div class="edit-btn">
      <ion-button
        routerLink="/home/user/edit-profile"
        data-cy="edit-profile"
        id="submitBtn"
      >
        <img src="assets/images/button-auth.png" />
        <span>
          <svg
            viewBox="0 0 26 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.2505 1.22852H7.76019C4.06734 1.22852 1.75195 3.7486 1.75195 7.3163V16.9405C1.75195 20.5082 4.05653 23.0283 7.76019 23.0283H18.3572C22.062 23.0283 24.3666 20.5082 24.3666 16.9405V12.2778"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.05126 10.6417L18.0258 1.99102C19.1438 0.914453 20.956 0.914453 22.0741 1.99102L23.5356 3.39981C24.6537 4.47753 24.6537 6.22549 23.5356 7.30206L14.5179 15.9944C14.0291 16.4656 13.3662 16.7307 12.6745 16.7307H8.17578L8.28867 12.355C8.30548 11.7113 8.57809 11.0978 9.05126 10.6417Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.6621 3.32812L22.1455 8.6137"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </ion-button>
    </div>
  </ion-grid>

  <ion-grid class="content-part">
    <ng-container *ngIf="currentUserRole =='fan'">
      <div class="details-part">
        <div class="details-box">
          <h5>E-mail</h5>
          <p>{{userData?.email}}</p>
        </div>

        <div class="details-box">
          <h5>Birthdate</h5>
          <p>{{userData?.birthDate | date:'MMM d, y'}}</p>
        </div>

        <div class="details-box">
          <h5>Phone no.</h5>
          <p>{{userData?.phone == '' ? '-' : userData?.phone }}</p>
        </div>
        <div class="details-box">
          <h5>Categories</h5>
          <p *ngFor="let game of userData?.categories">{{game}}</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentUserRole =='athlete'">
      <div class="details-part">
        <div class="details-box">
          <h5>Biography</h5>
          <p>
            {{userData?.bio ?? '-'}}
          </p>
        </div>
        <div class="details-box">
          <h5>Team</h5>
          <p>{{userData?.teamName ?? '-'}}</p>
        </div>
        <div class="details-box">
          <h5>Team State</h5>
          <p>{{userData?.teamState ?? '-'}}</p>
        </div>
        <div class="details-box">
          <h5>Country</h5>
          <p>{{userData?.country ?? '-'}}</p>
        </div>
        <div class="details-box">
          <h5>School/University</h5>
          <p>{{userData?.universityName ?? '-'}}</p>
        </div>
        <div class="details-box">
          <h5>Born</h5>
          <p>{{userData?.birthDate | date:'MMM d, y'}}</p>
        </div>
        <div class="details-box">
          <h5>E-mail</h5>
          <p>{{userData?.email}}</p>
        </div>
        <div class="details-box">
          <h5>Phone no.</h5>
          <p>{{userData?.phone == '' ? '-' : userData?.phone }}</p>
        </div>
        <div class="details-box">
          <h5>Categories</h5>
          <p *ngFor="let game of userData?.categories">{{game}}</p>
        </div>

      </div>
    </ng-container>

    <div class="change-pass-logout">
      <ion-item
        *ngIf="!userData?.socialLoginType"
        lines="none"
        (click)="presentChangePasswordModal()"
      >
        <ion-avatar slot="start">
          <img src="assets/icon/lock-black.svg" />
        </ion-avatar>
        <ion-label>Change Password</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item data-cy="logout-modal" id="logout" lines="none" class="logout">
        <ion-avatar slot="start">
          <img src="assets/icon/login-red.svg" />
        </ion-avatar>
        <ion-label>Log Out</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </div>

    <div id="small-modal-delete" class="delete-account">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/icon/delete-acc.svg" />
        </ion-avatar>
        <ion-label>Delete BubbleApp account</ion-label>
      </ion-item>
    </div>

    <div class="notifications-data" hidden>
      <div class="top-part">
        <ion-row>
          <ion-col size="6">
            <h5>Meet up</h5>
          </ion-col>
          <ion-col size="6">
            <p>with <span>Casey Rodgers</span></p>
          </ion-col>
        </ion-row>
      </div>
      <div class="data-part">
        <p>
          “Let’s Get in Touch”, be ready for <u>Meet up</u> event with
          <span>Casey Rodgers</span> will start in just 10 min.
        </p>
      </div>
    </div>
  </ion-grid>
  <ion-grid class="buble-part">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
</ion-content>

<ion-modal trigger="small-modal-delete" class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3>Delete Account</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>Are you sure, you want to delete your BubbleApp account.?</p>
      </div>
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button class="white-btn" (click)="onclick_cancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button (click)="deleteAccount()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
<ion-modal trigger="logout" class="small-modal">
  <ng-template>
    <ion-header mode="md">
      <h3>Logout</h3>
    </ion-header>

    <div class="inner-content">
      <div class="main-screen">
        <p>Are you sure, you want to logout from BubbleApp?</p>
      </div>
    </div>

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button class="white-btn" (click)="onclick_cancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button data-cy="logout" (click)="logout()" class="white-btn">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
