<ion-content [scrollEvents]="true">

  <ion-grid class="faq-main">
      <div class="faq-card">
        <ion-segment value="buttons" [(ngModel)]="fanEventType">
          <ion-segment-button value="VIDEO">
            <ion-label>Video</ion-label>
          </ion-segment-button>
          <ion-segment-button value="IN-PERSON">
            <ion-label>In-Person</ion-label>
          </ion-segment-button>
        </ion-segment>
          <div class="faq-data">
           
          </div>
      </div>
  </ion-grid>



  


 

  <ion-grid class="bg-bubble">
    <div class="dots-bubble">
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>

      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
      <div class="dots"></div>
    </div>
  </ion-grid>
<!-- </ion-grid> -->

<!-- <ion-grid class="logo-bg">
  <img src="assets/icon/logo-bg.png" />
  <span>Work in progress</span>
</ion-grid>
</ion-content> -->