<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <ion-slides mode="ios" pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="container">
        <div class="image-container">
          <img src="../../../assets/images/football.jpg" alt="" />
        </div>
        <div class="details">
          <img src="../../../assets/icon/bubble-icon.svg" alt="" />
          <h2>Book live chats and in-person appearances.</h2>
        </div>

        <div class="buttons">
          <ion-button (click)="skip()">Skip</ion-button>
          <ion-button (click)="nextSlide()">Next</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <div class="image-container">
          <img src="../../../assets/images/football2.jpg" alt="" />
        </div>
        <div class="details">
          <img src="../../../assets/icon/bubble-icon.svg" alt="" />
          <h2>Get in the game! Chat live with your favorite athletes.</h2>
        </div>
        <div class="buttons">
          <ion-button (click)="skip()">Skip</ion-button>
          <ion-button (click)="nextSlide()">Next</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <div class="image-container">
          <img src="../../../assets/images/slide-3.png" alt="" />
        </div>
        <div class="details">
          <img src="../../../assets/icon/bubble-icon.svg" alt="" />
          <h2>Beat the competition, bid to bubble up!</h2>
        </div>
        <div class="buttons">
          <ion-button (click)="skip()">Skip</ion-button>
          <ion-button (click)="nextSlide()">Next</ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <div class="image-container">
          <img src="../../../assets/images/football3.jpg" alt="" />
        </div>
        <div class="details">
          <img src="../../../assets/icon/bubble-icon.svg" alt="" />
          <h2>Let's live the moment with your favorite athlete</h2>
        </div>
        <div class="buttons">
          <ion-button (click)="skip()">Skip</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
