<ion-item-sliding>
  <div class="container">
    <ion-item class="card__container">
      <div class="card">
        <div class="card__slideIcon">
          <img src="assets/images/blue-notch.png" alt="" />
          <span class="arrow-move">
            <img src="assets/icon/arrow-left.svg">
          </span>
        </div>
        <div class="card__eventType">
          <img src="../../../../assets/icon/video.svg" alt="" />
          <h6>Video</h6>
        </div>
        <h6 class="card__time">
          <span>0</span> days : <span>0</span> hours : <span>0</span> mins
        </h6>
        <div class="card__body">
          <div class="card__details">
            <h6 class="card__heading">Birthday Surprise</h6>

            <div class="card__date">
              <span
                ><img src="../../../../assets/icon/calender-blue.svg" alt=""
              /></span>
              <h6>Jun 30, 2022</h6>
            </div>
            <div class="card__detail">
              <span
                ><img src="../../../../assets/icon/clock.svg" alt=""
              /></span>
              <h6>10:00 AM</h6>
              <img src="../../../../assets/icon/duration-small.svg" alt="" />
              <h6>0h 25m</h6>
            </div>
            <div class="card__detail">
              <span><img src="../../../../assets/icon/chat.svg" alt="" /></span>
              <h6>
                I would like to invite you for my wife's surprise birthday party
              </h6>
            </div>
          </div>

          <div class="card__opp">
            <h3>
              $200
            </h3>
            <h6>
              Opportunity
            </h6>
          </div>
        </div>
        <div class="card__border"></div>

        <div class="card__invite">
          <div class="profile">
            <img src="../../../../assets/images/profile.png" alt="" />
            <div class="profile__detail">
              <h6>Invited to</h6>
              <h5>Casey Rodgers</h5>
            </div>
          </div>
          <ion-button disabled="" size="small" class="card__cta--blue">
            <span
              ><img src="../../../../assets/icon/join-video.svg" alt=""
            /></span>
            <p>Join Now</p>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </div>
  <ion-item-options>
    <ion-item-option color="primary">
        <img src="assets/icon/share-icon.svg">
    </ion-item-option>
    <ion-item-option color="primary">
      <img src="assets/icon/calendar-card.svg">
    </ion-item-option>
    <ion-item-option color="primary" class="delete">
      <img src="assets/icon/delete.svg">
    </ion-item-option>

    <ion-item-option color="primary" class="approve">
      <img src="assets/icon/approve-icon.svg">
    </ion-item-option>

    <ion-item-option color="primary" class="delete">
      <img src="assets/icon/reject-icon.svg">
    </ion-item-option>
    </ion-item-options>
    
</ion-item-sliding>
