ion-item-sliding {
  margin: 30px 0;
  overflow: visible;
  ion-item-options {
    flex-flow: column;
    align-items: flex-end;
    background: var(--dark-blue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    ion-item-option {
      height: inherit;
      background: var(--dark-blue);
      width: 60px;
      border-bottom: 1px solid rgba(var(--white-clr-rgb), 0.5);
      button {
        display: inline-block;
        text-align: right;
        width: auto;
      }
      &:last-child {
        border-bottom: 0;
        border-bottom-right-radius: 20px;
      }
      &:first-child {
        border-top-right-radius: 20px;
      }
      &.delete {
        background: var(--red-bg);
      }
      &.approve {
        background: var(--green-clr);
      }
    }
  }
  &.item-sliding-active-slide {
    span {
      img {
        transform: rotate(0deg);
      }
    }
  }
}

.card {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  width: 100%;

  &__container {
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-radius: 20px;
    --background: none;
    overflow: inherit;
    --inner-border-width: 0;
  }
  &__slideIcon {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    img {
      max-width: 100%;
    }
    span {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      height: fit-content;
      img {
        max-width: 100%;
        width: 15px;
        transform: rotate(180deg);
        transition: all 0.2s;
      }
    }
  }

  &__eventType {
    z-index: 99;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: -18px;
    left: 20px;
    background-color: #55cd89;
    min-width: 100px;
    border-radius: 20px;

    & h6 {
      margin: 0;
      padding: 8px 0;
      color: white;
      font-size: 0.75rem;
    }
  }
  .inPersonEvent {
    background-color: var(--theme-one-clr);
  }

  &__time {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.75rem;
    text-align: right;
    min-height: 7px;
    & span {
      color: var(--theme-one-clr);
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__heading {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: var(--theme-one-clr);
    padding-bottom: 10px;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  &__opp {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: var(--theme-one-clr);
    text-align: center;
    margin-right: 6px;
    & h3 {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
    }
    & h6 {
      font-size: 0.75rem;
      font-weight: 300;
      margin: 0;
    }
    &--disabled {
      color: #bbbbbb;
      // box-shadow: none;
      background: #f7f7f7;
      border: 1px solid #efefef;
    }
  }
  &__date {
    padding-bottom: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    & h6 {
      font-size: 0.75rem;
      margin: 0;
      color: var(--theme-one-clr);
      font-weight: 600;
    }
    & span {
      height: 17px;
      width: 17px;
      min-width: 17px;
      min-height: 17px;
      img {
        height: 17px;
        width: 17px;
      }
    }
  }
  &__detail {
    padding-bottom: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    & h6 {
      font-size: 0.75rem;
      margin: 0;
      font-weight: 400;
      word-break: break-word;
    }
    & span {
      height: 17px;
      width: 17px;
      min-width: 17px;
      min-height: 17px;
      img {
        height: 17px;
        width: 17px;
        min-width: 17px;
        min-height: 17px;
      }
    }
  }
  &__border {
    height: 1px;
    background-color: #bbbbbb;
    margin: 2px 0;
  }
  &__invite {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f5f5f5;
    padding-top: 5px;
  }
  .fans-bided-event {
    display: flex;
    align-items: center;
    background: var(--bg-gray);
    border-radius: 6px;
    max-width: 152px;
    p {
      margin: 0;
      padding: 0 10px;
      font-size: 0.75rem;
      color: var(--light-gray);
      font-weight: 500;
      span {
        font-weight: 700;
      }
    }
    ion-button {
      margin: 0;
      box-shadow: none;
      height: 2.6em;
      --padding-end: 13px;
      --padding-start: 13px;
      --background: #55cd89;
      font-weight: 700;
      font-size: 0.75rem;
      color: var(--white-clr);
      text-transform: uppercase;
      vertical-align: middle;
      img {
        margin-right: 5px;
        width: 20px;
      }
    }
  }
  .profile {
    display: flex;
    gap: 5px;
    & img {
      width: 27px;
      height: 27px;
      border-radius: 50%;
    }
    &__detail {
      & h6 {
        color: #bbbbbb;
        font-weight: 300;
        font-size: 0.75rem;
        margin: 0;
      }
      & h5 {
        color: var(--theme-one-clr);
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0;
      }
    }
  }
  &__cta {
    & p {
      margin: 0;
      padding-bottom: 0;
      font-size: 0.75rem;
      padding-left: 2px;
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize;
    }

    & span{
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      height: 18px;
      width: 18px;
      img{width: 18px;height: 18px;}
    }

    &--green {
      --background-activated: #55cd89;
      --background: #55cd89;
      & p {
        margin: 0;
        padding-bottom: 0;
        font-size: 0.75rem;
        padding-left: 2px;
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
      }
      & span{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        height: 18px;
        width: 18px;
        img{width: 18px;height: 18px;}
      }
    }
    &--blue {
      --background-activated: var(--theme-one-clr);
      --background: var(--theme-one-clr);
      align-items: center;
      text-transform: capitalize;
      justify-items: center;
      justify-content: center;
      --padding-start: 0.7em;
      --padding-end: 0.7em;
      & p {
        margin: 0;
        padding-bottom: 0;
        font-size: 0.75rem;
        padding-left: 2px;
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
      }

      & span{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        height: 18px;
        width: 18px;
        img{width: 18px;height: 18px;}
      }
    }
    &--cancel {
      --background-activated: #f74444;
      --background: #f74444;
      /* margin: 0; */
      /* --padding: 0; */
      align-items: center;
      text-transform: capitalize;
      justify-items: center;
      justify-content: center;
      --padding-start: 0.7em;
      --padding-end: 0.7em;
    }
    &--password {
      margin: 0;
      font-size: 1.5625rem;
      letter-spacing: 4px;
      padding-top: 8px;
    }
  }
  &__completed {
    margin: 0;
    color: #55cd89;
    font-weight: 700;
    font-size: 0.75rem;
  }
}
.disabled-text {
  color: #bbbbbb;
  span {
    color: #bbbbbb;
  }
}
.disabled-text-light {
  color: #585858;
}
ion-button.button-disabled {
  --background-activated: #bbbbbb;
  --background: #bbbbbb !important;
  & p {
    margin: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    padding-left: 2px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
  }

  & span{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    height: 18px;
    width: 18px;
    img{width: 18px; height: 18px;}
  }
}
.initial {
  position: relative;
  &__span {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background-color: #1b4b64;

    color: var(--white-clr);
    display: grid !important;
    place-items: center;
    font-size: 0.625rem;
    text-transform: uppercase;
    border: 1px solid white;
  }
}
.card-border {
  border-right: 4px solid #056ea6;
}

.popover-arrow{display: none !important;}
.popover.bottom .arrow {visibility:hidden;}


.card__sponser{
    display: flex;
    gap: 5px;
    height: 65px; width: 65px; border-radius: 65px; padding: 7px;
    & img {
      max-width: 100%;
      border-radius: 0;
    }
    &__detail {
      & h6 {
        color: #bbbbbb;
        font-weight: 300;
        font-size: 0.75rem;
        margin: 0;
      }
      & h5 {
        color: var(--theme-one-clr);
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0;
      }
    }
}

.bubble-text{
    p{position: relative; padding-left: 23px; font-size: 0.75rem; font-weight: 600; margin: 0; color: var(--theme-one-clr);
      img{position: absolute; left: 0; top: 0; width: 18px; bottom: 0; margin: auto;}
    }
}
ion-modal.small-modal {
  .modal-wrapper {
    max-width: 70%;
  }
  ion-header {
    --background: transparent;
    background: transparent;
    position: relative;
    padding: 0;
    padding: 15px;
    z-index: 5;
    box-shadow: none;
    border: 0;
    text-align: center;

    h3 {
      color: var(--black-clr);
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
    }

    &::after {
      display: none;
    }
  }
  .inner-content {
    --background: var(--white-bg);
    .main-screen {
      padding: 0 15px;
      text-align: center;
      p {
        font-size: 0.875rem;
        color: var(--black-clr);
        font-weight: 400;
        margin: 0;
        line-height: 22px;
      }
      .radio-main {
        display: flex;
        align-items: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 15px;
        .radio-text {
          flex: 1;
          align-self: center;
          h5 {
            font-size: 0.875rem;
            color: var(--text-black);
            margin: 0;
            font-weight: 400;
          }
        }
        .radio-data {
          margin: 0 5px;
          ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --padding-start: 0;
            --innerpadding-end: 0;
            --background: transparent;
            --ripple-color: none;
            --background-activated: none;
            --background-focused: none;
            --background-hover: none;
            --background-activated-opacity: 1;
            --background-focused-opacity: 1;
            --background-hover-opacity: 1;
            --ripple-color: none;
            --min-height: 26px;
            ion-label {
              font-size: 0.875rem;
              color: var(--theme-one-clr);
              margin: 0;
              font-weight: 400;
            }
            ion-radio {
              margin: 0;
              width: 16px;
              height: 16px;
              --color-checked: var(--theme-one-clr);
              --color: var(--text-gray);
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  ion-footer {
    background: var(--white-bg);
    ion-toolbar {
      --border-width: 0;
      --padding-start: 10px;
      --padding-end: 10px;
      --padding-top: 0px;
      --padding-bottom: 10px;
      --background: var(--white-bg);
      text-align: center;
      ion-button {
        --background: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --box-shadow: none;
        --padding-start: 0.5rem;
        --padding-end: 0.5rem;
        img {
          width: 40px;
          height: 40px;
        }
        &.button-disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
