<ion-item-sliding>
  <div class="container">
    <ion-item class="card__container">
      <div class="card">
        <div class="card__slideIcon">
          <img src="assets/images/blue-notch.png" alt="" />
          <span class="arrow-move">
            <img src="assets/icon/arrow-left.svg" />
          </span>
        </div>
        <div *ngIf="cardData.eventType !=='IN_PERSON'" class="card__eventType">
          <img src="../../../../assets/icon/video.svg" alt="" />
          <h6>Video</h6>
        </div>
        <div
          *ngIf="cardData.eventType =='IN_PERSON'"
          class="card__eventType inPersonEvent"
        >
          <img src="../../../../assets/icon/in-person.svg" alt="" />
          <h6>In-person</h6>
        </div>
        <h6 *ngIf="timer" class="card__time">
          <span>{{this.timer.days}}</span> {{this.timer.title_days}} :
          <span>{{this.timer?.hours}}</span> {{this.timer?.title_hours}} :
          <span>{{this.timer?.minutes}}</span> {{this.timer?.title_min}}

          <!--          <span>0</span> days : <span>0</span> hours : <span>0</span> mins-->
        </h6>
        <div class="card__body">
          <div class="card__details">
            <h6 class="card__heading">Birthday Surprise</h6>

            <div class="card__date">
              <span
                ><img src="../../../../assets/icon/calender-blue.svg" alt=""
              /></span>
              <h6>{{cardData.createdDate | date:'MMM dd, YYYY'}}</h6>
            </div>
            <div class="card__detail">
              <span
                ><img src="../../../../assets/icon/clock.svg" alt=""
              /></span>
              <h6>{{cardData.createdDate | date:'shortTime'}}</h6>
              <img src="../../../../assets/icon/duration-small.svg" alt="" />
              <h6>{{timeConvert(cardData.duration)}}</h6>
            </div>
            <div class="card__detail">
              <ng-container *ngIf="cardData.eventType !== 'IN_PERSON'">
                <span
                  ><img src="../../../../assets/icon/chat.svg" alt=""
                /></span>

                <h6 *ngIf="cardData.description !== ''">
                  {{cardData.description }}
                </h6>
              </ng-container>
              <ng-container *ngIf="cardData.eventType == 'IN_PERSON'">
                <span
                  ><img src="../../../../assets/icon/location.svg" alt=""
                /></span>
                <h6>
                  {{cardData.eventAddress?.addressLine1}},
                  {{cardData.eventAddress?.city}},
                  {{cardData.eventAddress?.state}},
                  {{cardData.eventAddress?.zipCode}}
                </h6>
              </ng-container>
            </div>
          </div>

          <div class="card__opp">
            <h3>
              ${{cardData.minBid}}
            </h3>
            <h6>
              Opportunity
            </h6>
          </div>
        </div>
        <div class="card__border"></div>

        <div class="card__invite">
          <div class="profile">
            <img src="../../../../assets/images/profile.png" alt="" />
            <div class="profile__detail">
              <h6>Invited to</h6>
              <h5>{{cardData.userName}}</h5>
            </div>
          </div>
          <ion-button disabled="" size="small" class="card__cta--blue" hidden>
            <span
              ><img src="../../../../assets/icon/join-video.svg" alt=""
            /></span>
            <p>Join Now</p>
          </ion-button>

          <div class="fans-bided-event">
            <p><span>38</span> Fans bided
              on your event</p>
            <ion-button><img src="assets/icon/join-video.svg"> Go</ion-button>
          </div>

        </div>
      </div>
    </ion-item>
  </div>
  <ion-item-options>
    <ion-item-option color="primary">
      <img src="assets/icon/share-icon.svg" />
    </ion-item-option>
    <ion-item-option color="primary">
      <img src="assets/icon/calendar-card.svg" />
    </ion-item-option>
    <ion-item-option color="primary" class="delete">
      <img src="assets/icon/delete.svg" />
    </ion-item-option>

    <ion-item-option color="primary" class="approve">
      <img src="assets/icon/approve-icon.svg">
    </ion-item-option>

    <ion-item-option color="primary" class="delete">
      <img src="assets/icon/reject-icon.svg">
    </ion-item-option>
    </ion-item-options>
    
</ion-item-sliding>
