<ion-item-sliding>
  <div class="container">
    <ion-item class="card__container">
      <div class="card" [ngClass]="cardBorderClass()">
        <!-- arrow and border css class start  -->
        <ng-container *ngIf="userRole == 'athlete'">
          <div class="card__slideIcon">
            <img src="assets/images/blue-notch.png" alt="" />
            <span class="arrow-move">
              <img src="assets/icon/arrow-left.svg" />
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="userRole == 'fan'">
          <div *ngIf="eventState == 'APPROVED'" class="card__slideIcon">
            <img src="assets/images/blue-notch.png" alt="" />
            <span class="arrow-move">
              <img src="assets/icon/arrow-left.svg" />
            </span>
          </div>
        </ng-container>
        <!-- arrow and border css class end  -->
        <!-- video and in person event icons start  -->
        <div *ngIf="cardData.eventType !=='IN_PERSON'" class="card__eventType">
          <img src="../../../../assets/icon/video.svg" alt="" />
          <h6>Video</h6>
        </div>
        <div
          *ngIf="cardData.eventType =='IN_PERSON'"
          class="card__eventType inPersonEvent"
        >
          <img src="../../../../assets/icon/in-person.svg" alt="" />
          <h6>In-person</h6>
        </div>
        <!-- video and in person event icons end  -->
        <!-- event timing countdown start  -->
        <ng-container *ngIf="userRole == 'athlete'">
          <div *ngIf="eventState !== 'PAST'" class="">
            <h6 *ngIf="timer.minutes > 0" class="card__time">
              <ng-container *ngIf="this.timer.days">
                <span>{{this.timer.days }}</span> {{this.timer.title_days}} :
              </ng-container>
              <ng-container *ngIf="this.timer.hours">
                <span>{{this.timer.hours }}</span>
                {{this.timer?.title_hours}} :
              </ng-container>
              <span>{{this.timer.minutes}}</span> {{this.timer?.title_min}}
            </h6>
            <h6 *ngIf="timer.minutes <=  0" class="card__time">
              Event Started
            </h6>
          </div>
          <h6
            *ngIf="eventState == 'PAST'"
            class="card__time disabled-text"
          ></h6>
        </ng-container>
        <ng-container *ngIf="userRole == 'fan'">
          <div *ngIf="eventState == 'APPROVED'" class="">
            <h6 *ngIf="timer.minutes > 0" class="card__time">
              <ng-container *ngIf="this.timer.days">
                <span>{{this.timer.days }}</span> {{this.timer.title_days}} :
              </ng-container>
              <ng-container *ngIf="this.timer.hours">
                <span>{{this.timer.hours }}</span>
                {{this.timer?.title_hours}} :
              </ng-container>
              <span>{{this.timer.minutes}}</span> {{this.timer?.title_min}}
            </h6>
            <h6 *ngIf="timer.minutes <=  0" class="card__time">
              Event Started
            </h6>
          </div>
          <h6
            *ngIf="eventState == 'PENDING'"
            class="card__time disabled-text-light"
          >
            Pending for approval
          </h6>
          <h6
            *ngIf="eventState == 'PAST'"
            class="card__time disabled-text-light"
          ></h6>
        </ng-container>
        <!-- event timing countdown end  -->
        <div class="card__body">
          <div class="card__details">
            <h6 class="card__heading">{{cardData.eventName}}</h6>

            <div class="card__date">
              <span
                ><img src="../../../../assets/icon/calender-blue.svg" alt=""
              /></span>
              <h6>{{cardData.startDate | date:'MMM dd, YYYY'}}</h6>
            </div>
            <div class="card__detail">
              <span
                ><img src="../../../../assets/icon/clock.svg" alt=""
              /></span>
              <h6>{{cardData.startDate | date:'shortTime'}}</h6>
              <img src="../../../../assets/icon/duration-small.svg" alt="" />
              <h6>{{timeConvert(cardData.duration)}}</h6>
            </div>
            <div class="card__detail">
              <ng-container *ngIf="cardData.eventType !== 'IN_PERSON'">
                <ng-container *ngIf="cardData.description !== ''">
                  <span
                    ><img src="../../../../assets/icon/chat.svg" alt=""
                  /></span>

                  <h6>
                    {{cardData.description }}
                  </h6>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cardData.eventType == 'IN_PERSON'">
                <span
                  ><img
                    class="op-65"
                    src="../../../../assets/icon/location.svg"
                    alt=""
                /></span>
                <h6>
                  {{cardData.eventAddress?.addressLine1}},
                  {{cardData.eventAddress?.city}},
                  {{cardData.eventAddress?.state}},
                  {{cardData.eventAddress?.zipCode}}
                </h6>
              </ng-container>
            </div>
          </div>

          <div
            [ngClass]="eventState == 'PAST' ? 'card__opp--disabled' :''"
            class="card__opp"
          >
            <h3>
              ${{cardData.minBid}}
            </h3>
            <h6
              *ngIf="cardData.creatorPersona == 'ATHLETE' || cardData.creatorPersona == 'ADMIN'"
            >
              Minimum Bid
            </h6>
            <h6 *ngIf="cardData.creatorPersona == 'USER'">
              Opportunity
            </h6>
          </div>
        </div>
        <!-- <div class="card__border"></div> -->

        <div class="card__invite">
          <!-- invited and created by name and pic start  -->
          <ng-container *ngIf="userRole == 'fan'">
            <ng-container
              *ngIf="cardData.creatorPersona == 'ATHLETE' || cardData.creatorPersona == 'ADMIN'"
            >
              <div (click)="openProfilePage('athlete')" class="profile">
                <img
                  *ngIf="cardData?.athleteProfilePicture !==''"
                  [src]="cardData.athleteProfilePicture | profile"
                  alt=""
                />

                <div
                  *ngIf="cardData?.athleteProfilePicture ==''"
                  class="inital"
                >
                  <span class="initial__span">
                    {{nameInitials}}
                  </span>
                </div>
                <div class="profile__detail">
                  <h6>{{invitedText()}}</h6>
                  <h5>{{cardData.athleteName}}</h5>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="cardData.creatorPersona == 'USER'">
              <div (click)="openProfilePage('athlete')" class="profile">
                <img
                  *ngIf="cardData?.athleteProfilePicture !==''"
                  [src]="cardData.athleteProfilePicture | profile"
                  alt=""
                />

                <div
                  *ngIf="cardData?.athleteProfilePicture ==''"
                  class="inital"
                >
                  <span class="initial__span">
                    {{nameInitials}}
                  </span>
                </div>
                <div class="profile__detail">
                  <h6>{{invitedText()}}</h6>
                  <h5>{{cardData.athleteName}}</h5>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="userRole == 'athlete'">
            <ng-container
              *ngIf="cardData.creatorPersona == 'ATHLETE' || cardData.creatorPersona == 'ADMIN'"
            >
              <div (click)="openProfilePage('athlete')" class="profile">
                <img
                  *ngIf="cardData?.athleteProfilePicture !==''"
                  [src]="cardData.athleteProfilePicture | profile"
                  alt=""
                />

                <div
                  *ngIf="cardData?.athleteProfilePicture ==''"
                  class="inital"
                >
                  <span class="initial__span">
                    {{nameInitials}}
                  </span>
                </div>
                <div class="profile__detail">
                  <h6>{{invitedText()}}</h6>
                  <h5>{{cardData.athleteName}}</h5>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="cardData.creatorPersona == 'USER'">
              <div (click)="openProfilePage('fan')" class="profile">
                <img
                  *ngIf="cardData?.userProfilePicture !==''"
                  [src]="cardData.userProfilePicture | profile"
                  alt=""
                />

                <div *ngIf="cardData?.userProfilePicture ==''" class="inital">
                  <span class="initial__span">
                    {{nameInitials}}
                  </span>
                </div>
                <div class="profile__detail">
                  <h6>{{invitedText()}}</h6>
                  <h5>{{cardData.userName}}</h5>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!-- invited and created by name and pic end  -->

          <ng-container *ngIf="userRole == 'athlete'">
            <ng-container
              *ngIf="eventState !== 'PAST' && eventState !== 'PENDING'"
            >
              <ng-container *ngIf="cardData.creatorPersona == 'USER'    ">
                <ion-button
                  *ngIf="cardData.eventType !== 'IN_PERSON' "
                  (click)="joinFanCall(cardData.id)"
                  [disabled]="canJoinEvent()"
                  size="small"
                  class="card__cta--blue"
                >
                  <span
                    ><img src="../../../../assets/icon/join-video.svg" alt=""
                  /></span>
                  <p>Join Now</p>
                </ion-button>
              </ng-container>
              <ion-button
                *ngIf="cardData.eventType == 'IN_PERSON'"
                [disabled]="canJoinEvent()"
                (click)="openOtpModel() "
                size="small"
                class="card__cta--green"
              >
                <p class="card__cta--password">****</p>
              </ion-button>
              <ng-container
                *ngIf="cardData.creatorPersona == 'ATHLETE' || cardData.creatorPersona == 'ADMIN'   "
              >
                <div
                  *ngIf="cardData.eventType !== 'IN_PERSON' "
                  class="fans-bided-event"
                >
                  <p>
                    <span>{{cardData.count}}</span>
                    Fans bided on your event
                  </p>
                  <ion-button
                    [disabled]="canAthleteJoinEvent(cardData.count)"
                    (click)="athleteEvent(cardData.id)"
                    ><img src="assets/icon/join-video.svg" /> Go</ion-button
                  >
                </div>
              </ng-container>
            </ng-container>
            <h6 *ngIf="eventState == 'PAST'" class="card__completed">
              COMPLETED
            </h6>
          </ng-container>
          <ng-container *ngIf="userRole == 'fan'">
            <ng-container *ngIf="eventState == 'APPROVED'">
              <ion-button
                [disabled]="canBidForEvent()"
                (click)="bidAthleteEvent(cardData.id)"
                *ngIf="cardData.creatorPersona == 'ATHLETE' || cardData.creatorPersona == 'ADMIN'   "
                size="small"
                class="card__cta--blue"
              >
                <span
                  ><img src="../../../../assets/icon/bid-dollar.svg" alt=""
                /></span>
                <p *ngIf="!cardData.bidSubmitted">Bid now</p>
                <p *ngIf="cardData.bidSubmitted">Go</p>
              </ion-button>
              <ion-button
                (click)="presentAlert() "
                [disabled]="canJoinEvent()"
                *ngIf="cardData.creatorPersona == 'USER'  && cardData.eventType !== 'IN_PERSON'  "
                size="small"
                class="card__cta--green"
              >
                <span
                  ><img src="../../../../assets/icon/join-video.svg" alt=""
                /></span>
                <p>Join now</p>
              </ion-button>
              <ion-button
                [disabled]="canJoinEvent()"
                (click)="openOtpModel() "
                *ngIf="cardData.creatorPersona == 'USER' && cardData.eventType == 'IN_PERSON'  "
                size="small"
                class="card__cta--green"
              >
                <span
                  ><img src="../../../../assets/icon/meet-up.svg" alt=""
                /></span>
                <p>Meet-Up</p>
              </ion-button>
            </ng-container>
            <ng-container *ngIf="eventState == 'PENDING' ">
              <ion-button
                (click)="presentDismissModal()"
                size="small"
                class="card__cta card__cta--cancel"
              >
                <span
                  ><img src="../../../../assets/icon/cancel-cross.svg" alt=""
                /></span>
                <p>Cancel</p>
              </ion-button>
            </ng-container>
            <ng-container>
              <h6 *ngIf="eventState == 'PAST'" class="card__completed">
                <img src="../../../../assets/icon/check-green.svg" alt="" />
              </h6>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ion-item>
  </div>
  <ng-container *ngIf="userRole == 'athlete'">
    <ion-item-options *ngIf="eventState == 'APPROVED'">
      <ion-item-option (click)="presentAlert()" color="primary">
        <img src="assets/icon/share-icon.svg" />
      </ion-item-option>
      <ion-item-option (click)="presentAlert()" color="primary">
        <img src="assets/icon/calendar-card.svg" />
      </ion-item-option>
      <ion-item-option (click)="presentAlert()" color="primary" class="delete">
        <img src="assets/icon/delete.svg" />
      </ion-item-option>
    </ion-item-options>
    <ion-item-options *ngIf="eventState == 'PENDING'">
      <ion-item-option
        (click)="approveRequestModal()"
        color="primary"
        class="approve"
      >
        <img src="assets/icon/approve-icon.svg" />
      </ion-item-option>

      <ion-item-option
        (click)="presentRefuseModal()"
        color="primary"
        class="delete"
      >
        <img src="assets/icon/reject-icon.svg" />
      </ion-item-option>
    </ion-item-options>
  </ng-container>
  <ng-container>
    <ion-item-options *ngIf="eventState == 'APPROVED'">
      <ion-item-option (click)="shareEvent()" color="primary">
        <img src="assets/icon/share-icon.svg" />
      </ion-item-option>
      <ion-item-option (click)="presentAlert()" color="primary">
        <img src="assets/icon/calendar-card.svg" />
      </ion-item-option>
      <ion-item-option
        *ngIf="(cardData.creatorPersona == 'USER'  ||  cardData.athleteId != cardData.userId) && (userRole == 'fan') "
        (click)="presentDismissModal()"
        color="primary"
        class="delete"
      >
        <img src="assets/icon/delete.svg" />
      </ion-item-option>
      <ion-item-option
        *ngIf="userRole == 'athlete' "
        (click)="presentDismissModal()"
        color="primary"
        class="delete"
      >
        <img src="assets/icon/delete.svg" />
      </ion-item-option> </ion-item-options
  ></ng-container>
</ion-item-sliding>
