<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <div class="title-part">
      <ion-item lines="none">
        <ion-icon
          (click)="back()"
          slot="start"
          name="arrow-back-outline"
        ></ion-icon>

        <ion-label>
          <ion-grid class="logo-head">
            <img src="assets/images/logo.svg" />
            <div class="nil4all">
              <span>#NIL4ALL</span>
            </div>
          </ion-grid>
        </ion-label>

        <div class="notification" slot="end"  (click)="presentPopover($event)">
          <img src="assets/icon/notification.svg" />
          <span>
            <i *ngIf="this.badgeCount < 99">{{this.badgeCount}}</i>
            <i *ngIf="this.badgeCount > 99">99+</i>
          </span>
        </div>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-screen">
    <div class="top-screen">
      <div class="summry-head">
        <ion-item lines="none">
          <ion-label>
            <h5>{{userData?.fullName}}</h5>
            <p>Bubble Cash</p>
          </ion-label>
          <ion-text slot="end">
            <div class="ammount">
              {{summarydetails?.date | date:'MMM d, y'}}
            </div>
          </ion-text>
        </ion-item>
        <div class="ammount">
          <h4 *ngIf="athleteEarnings!=null">${{athleteEarnings | number: '1.0-2'}}</h4>
          <h4 *ngIf="athleteEarnings==null">
            $ 0
          </h4>
    
          <span>Total Bubble Cash</span>
        </div>
      </div>

      <ion-grid class="overlay-bg"></ion-grid>
    </div>

    <ion-grid class="content-part">
      <div class="main-part">
        <div class="invoice-data">
          <div class="head">
            <h3>Payment Summary</h3>
          </div>
          <div class="invoice-table">
            <div class="table-head">
              <ion-item lines="none">
                <ion-label>
                  <span>INVOICE</span>
                  <h4>#{{invoiceNum}}</h4>
                </ion-label>
                <ion-text>
                  <span>DATE</span>
                  <h4>{{summarydetails?.date | date:'MMM d, y'}}</h4>
                </ion-text>
              </ion-item>
            </div>
            <div class="table-tlt">
              <ion-item lines="none">
                <i slot="start">#</i>
                <ion-label>
                  <h4>DESCRIPTION</h4>
                </ion-label>
                <ion-text>
                  <h4>CHARGE</h4>
                </ion-text>
              </ion-item>
            </div>
            <div class="table-data">
            
              <ion-item lines="none" *ngFor="let summary of summarydetails?.summaryList
              ">
                <i slot="start">{{summary.number}}</i>
                <ion-label>
                  <h4>{{summary.title}} <span>{{summary.fees}}</span></h4>
                </ion-label>
                <ion-text>
                  <h4>$ {{summary.amount | number: '1.0-2'}}</h4>
                </ion-text>
              </ion-item>

              <!-- <ion-item lines="none">
                <i slot="start">2</i>
                <ion-label>
                  <h4>Processing Fees <span>(3.9%)</span></h4>
                </ion-label>
                <ion-text>
                  <h4>$ 125.39</h4>
                </ion-text>
              </ion-item>

              <ion-item lines="none">
                <i slot="start">3</i>
                <ion-label>
                  <h4>BubbleApp Service Fees <span>(5%)</span></h4>
                </ion-label>
                <ion-text>
                  <h4>$ 250.00</h4>
                </ion-text>
              </ion-item>

              <ion-item lines="none">
                <i slot="start">4</i>
                <ion-label>
                  <h4>Bank Transaction Fees <span>(5%)</span></h4>
                </ion-label>
                <ion-text>
                  <h4>$ 250.00</h4>
                </ion-text>
              </ion-item> -->
            </div>

            <div class="table-totle">
              <ion-item lines="none">
                
                <ion-label>
                  <h4>Payment Amount</h4>
                </ion-label>
                <ion-text>
                  <h4 *ngIf="athleteEarnings!=null">$ {{(summarydetails.dwollaRequestAmount)?.toFixed(2)
                  }}</h4>
                  <h4 *ngIf="athleteEarnings==null">$ 0</h4>
                </ion-text>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
      <ion-grid class="buble-part">
        <div class="dots-bubble">
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </ion-grid>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer-btn">
      <p><img src="assets/images/bb-to-home.png" /></p>
      <ion-button id="BubbleCashtoBank" (click)="getBankListing()" >Bubble Cash to Bank</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-modal trigger="BubbleCashtoBank" class="client-filter-modal">
  <ng-template>
    <ion-header mode="md">
      <div class="icon-header">
        <img src="assets/icon/header-bubble.png" />
        <h3>Account Details</h3>
      </div>
      <div class="top-noch">
        <img src="assets/images/modal-tope.png" />
      </div>
    </ion-header>

   
    <div class="inner-content">
      <div class="main-screen">
        <ion-row [formGroup]="bankDetailsForm">
          <ion-col size="12">
            <div class="input-box">
              <ion-item lines="none" class="ion-align-items-center">
                <ion-input placeholder="Bank Name" formControlName="name"></ion-input>
                <img
                  class="ion-align-items-center"
                  slot="end"
                  src="assets/icon/user-icon.svg"
                />
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input-box">
              <ion-item lines="none" class="ion-align-items-center">
                <ion-input placeholder="Account Holder Name"  (keypress)="charOnly($event)" formControlName="accountHolderName"></ion-input>
                <img
                  class="ion-align-items-center"
                  slot="end"
                  src="assets/icon/user-icon.svg"
                />
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input-box">
              <ion-item lines="none" class="ion-align-items-center">
                <ion-input placeholder="Account Number" type="password" (keypress)="numberOnly($event)" maxlength="9" formControlName="accountNumber"></ion-input>
                <img
                  class="ion-align-items-center"
                  slot="end"
                  src="assets/icon/document.svg"
                />
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input-box">
              <ion-item lines="none" class="ion-align-items-center">
                <ion-input placeholder="Routing Number" (keypress)="numberOnly($event)" maxlength="9" formControlName="routingNumber"></ion-input>
                <img
                  class="ion-align-items-center"
                  slot="end"
                  src="assets/icon/document.svg"
                />
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="radio-box">
              
              <ion-radio-group formControlName="accountType" mode="md">
                <ion-item lines="none">
                  <ion-label >Checking</ion-label>
                  <ion-radio slot="start"  value="CHECKING"  ></ion-radio>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Saving </ion-label>
                    <ion-radio slot="start"  value="SAVING" ></ion-radio>
                </ion-item>                      
              </ion-radio-group>
            </div>

            <div class="bank-list">
              <div class="bank-name" *ngFor="let bank of bankDetails" (click)="openTransferModal(bank.id)">
                <span>{{bank?.nameInitials}}</span>
                <p>{{bank?.name}}</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <div class="save-card">
          <!-- <ion-item lines="none" mode="ios">
            <ion-label>Save your Account Details For Future Transfer</ion-label>
            <ion-checkbox slot="start" mode="ios"></ion-checkbox>
          </ion-item> -->
          <ion-item lines="none" mode="ios">
            <ion-label
              >By clicking this you agree to our <span (click)="presentTermsAndServices()" id="TermsOfUse"
                >Terms of Service </span> and<span id="TermsOfUse" (click)="privacyPolicy()">Privacy Policy.</span>
<!--              , as well as our-->
<!--              partner Dwolla’s <span id="TermsOfUse">Terms of Service</span> and-->
<!--              <span id="TermsOfUse">Privacy Policy</span>.-->
            </ion-label>
            <ion-checkbox slot="start" mode="ios"  [(ngModel)]="isTermsAndConditionAccepted"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </div>
 
    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button class="white-btn" (click)="onClickCancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button class="white-btn" id="termsofuse" [disabled]="!isTermsAndConditionAccepted" (click)="addBankAccount()">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
        <div class="nil4all">
          <span>#NIL4ALL</span>
        </div>
      </ion-toolbar>
    </ion-footer>
    <ion-grid class="bg-bubble">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>

<ion-modal #transferModal class="client-filter-modal">
  <ng-template>
    <ion-header mode="md">
      <div class="icon-header">
        <img src="assets/icon/header-bubble.png" />
        <h3>Transfer Payment</h3>
      </div>
      <div class="top-noch">
        <img src="assets/images/modal-tope.png" />
      </div>
    </ion-header>

    
      <div class="inner-content">
        <div class="main-screen">
          <ion-row [formGroup]="transferAmountForm">
            <ion-col size="12">
              <div class="input-box">
                <ion-item lines="none" class="ion-align-items-center">
                  <ion-input placeholder="Amount" 
                             (ionBlur)="getToFixedDigits($event)" 
                             (keypress)="numberOnly($event)" 
                             [(ngModel)]="amountvalue" [ngModelOptions]="{standalone: true}" disabled>
                  </ion-input>
                  <img
                    class="ion-align-items-center"
                    slot="end"
                    src="assets/icon/document.svg"
                  />
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="input-box">
                <ion-item lines="none" class="ion-align-items-center">
                  <ion-input placeholder="Description" formControlName="details" ></ion-input>
                  <img
                    class="ion-align-items-center"
                    slot="end"
                    src="assets/icon/user-icon.svg"
                  />
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    

    <ion-footer mode="ios">
      <ion-toolbar mode="ios">
        <ion-button class="white-btn" (click)="onClickCancel()">
          <img src="assets/icon/close-icon.png" />
        </ion-button>
        <ion-button class="white-btn" id="termsofuse" (click)="transferAmount()">
          <img src="assets/icon/right-icon.png" />
        </ion-button>
        <div class="nil4all">
          <span>#NIL4ALL</span>
        </div>
      </ion-toolbar>
    </ion-footer>
    <ion-grid class="bg-bubble">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>
