<ion-content [fullscreen]="true">
  <!-- <ion-grid class="main-screen-bg"> -->
    <ion-header>
      <ion-toolbar>
        <div class="logo-v">
          <img src="assets/images/single-logo.svg" />
          <span *ngIf="this.platform.is('android')" class="version-txt">{{commonService?.androidAppVersion}} ({{commonService?.androidBuildVersion}})</span>
          <span *ngIf="this.platform.is('ios')" class="version-txt">{{commonService?.IOSAppVersion}} ({{commonService?.IOSBuildVersion}})</span>
        </div>
        <span class="list-icon" slot="end" routerLink="/bubble-screen-list">
          <img src="assets/icon/Search.svg">
        </span>
      </ion-toolbar>
    </ion-header>
    <ion-grid class="user-bubble">
      <div id="background-wrap">
        <div
          *ngFor="let bubble of athleteList ;let i = index"
          class="bubble"
          [ngClass]="'x' + (i+1)"
          (click)="navigateToAthlete(bubble.id)"
        >
          <div class="new-bg">
            <div class="bubble-toch">
              <img src="assets/images/bubble-toch.png" />
            </div>
            <div class="inner-data abc">
              <div  *ngIf="bubble?.profileUrl !== '' ">
              <img [src]="bubble.profileUrl | profile" />
              </div>
              

              <div class="inital"  *ngIf="bubble?.profileUrl == '' ">
                <span class="initial__span">
                  {{bubble.nameInitials}}
                </span>
              </div>
            </div>
            <span [ngClass]="bubble.online ? 'online':'offline'"></span>
          </div>
        </div>
      </div>
    </ion-grid>

    <ion-grid class="bg-bubble">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>

        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  <!-- </ion-grid> -->
<div class="bg-images">

</div>
  <ion-grid class="logo-bg">
    <img src="assets/icon/logo-bg.png" />
    <span>#NIL4ALL</span>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button
      *ngIf="!authenticationService.isAuthenticated()"
      routerLink="/auth/login"
    >
      <img src="assets/icon/login-btn.png" />
    </ion-fab-button>
  </ion-fab> -->
</ion-content>


