<ion-content [fullscreen]="true">
  <ion-grid class="main-screen-bg">
    <ion-header>
      <ion-toolbar>
        <img src="assets/images/single-logo.svg" />
      </ion-toolbar>
    </ion-header>
    <ion-grid class="user-bubble">
      <div id="background-wrap">
        <div
          *ngFor="let bubble of athleteList ;let i = index"
          class="bubble"
          [ngClass]="'x' + (i+1)"
          (click)="navigateToAthlete(bubble.id)"
        >
          <div class="new-bg">
            <div class="bubble-toch">
              <img src="assets/images/bubble-toch.png" />
            </div>
            <div class="inner-data abc">
              <img [src]="bubble.profileUrl | profile" />
              <span [ngClass]="bubble.online ? 'online':'offline'"></span>
            </div>
          </div>
        </div>
      </div>
    </ion-grid>

    <ion-grid class="bg-bubble">
      <div class="dots-bubble">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>

        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
      </div>
    </ion-grid>
  </ion-grid>

  <ion-grid class="logo-bg">
    <img src="assets/icon/logo-bg.png" />
    <span>#NIL4ALL</span>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button
      *ngIf="!authenticationService.isAuthenticated()"
      routerLink="/auth/login"
    >
      <img src="assets/icon/login-btn.png" />
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
