ion-content {
  --background: #6bbde9;
  position: relative;
  padding: 15px 0;
  margin: 0;
  --background: #6bbde9; /* Old browsers */
  --background: -moz-radial-gradient(
    center,
    ellipse cover,
    #6bbde9 0%,
    #2099da 100%
  );
  --background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #6bbde9 0%,
    #2099da 100%
  );
  --background: radial-gradient(ellipse at center, #6bbde9 0%, #2099da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbde9', endColorstr='#2099da',GradientType=1 );

  --box-shadow: 0px -6px 7px #2d94c9;

  .top-card {
    background: url(../../../../assets/images/card-bg.png) no-repeat top center;
    margin: 0;
    padding: 0;
    border-radius: 0 0 25px 25px;
    background-size: cover;
    box-shadow: 0 7px 7px #066da0;
    padding: 35px 0 15px;
    position: sticky;
    top: 0;
    z-index: 9999;
    .title-part {
      ion-item {
        --padding-start: 15px;
        --inner-padding-end: 15px;
        align-items: flex-start;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;

        ion-icon {
          color: var(--white-clr);
          font-size: 2rem;
          margin: 0;
          padding: 0;
        }
        ion-label {
          margin: 0;
          padding: 0;
          .logo-head {
            margin: 0;
            padding: 0;
            text-align: center;
            .nil4all span {
              font-size: 0.875rem;
              color: var(--white-clr);
              text-transform: uppercase;
              opacity: 1;
              font-weight: 500;
              margin-top: 0px;
              display: inline-block;
              font-style: italic;
            }
          }
        }
        .notification {
          margin: 0;
          padding: 0;
          position: relative;
          margin-top: 5px;
          img {
            width: 20px;
          }
          span {
            height: 10px;
            width: 10px;
            border-radius: 10px;
            border: 1px solid var(--white-clr);
            position: absolute;
            right: -2px;
            top: -4px;
            background: var(--red-bg);
          }
        }
      }
    }
    .profile-part {
      padding-top: 15px;
      ion-item {
        --padding-start: 15px;
        --inner-padding-end: 15px;
        overflow: inherit;
        position: relative;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        ion-avatar {
          --border-radius: 10px;
          width: 120px;
          min-width: 120px;
          height: auto;
          margin-right: 15px;
          img {
            max-width: 100%;
            border-radius: 10px;
            width: 120px;
            border: 1px solid var(--white-clr);
            height: auto;
            position: absolute;
            top: 0;
            z-index: 99;
            max-height: 125px;
          }
        }
        ion-label {
          word-break: break-word;
          white-space: normal;
          h5 {
            font-size: 1.5rem;
            color: var(--white-clr);
            font-weight: 700;
            margin: 0;
          }
          .live-status {
            display: flex;
            background: rgba(var(--green-bg-rgb), 0.2);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-top: 12px;
            p {
              color: var(--white-clr);
              font-weight: 600;
              font-size: 0.8rem;
              flex: 1;
              word-break: break-word;
              white-space: normal;
              padding-left: 5px;
              margin: 0;
            }
            span {
              background: var(--green-bg);
              color: var(--white-clr);
              text-transform: uppercase;
              padding: 5px 14px;
              display: inline-block;
              border-radius: 15px;
              font-size: 0.875rem;
              font-weight: 600;
            }
            &.live {
              background: rgba(var(--green-bg-rgb), 0.2);
              p {
                color: var(--white-clr);
              }
              span {
                background: var(--green-bg);
                color: var(--white-clr);
              }
            }
            &.offline {
              background: rgba(var(--gray-bg-rgb), 0.2);
              p {
                color: var(--white-clr);
              }
              span {
                background: var(--gray-bg);
                color: var(--white-clr);
              }
            }
          }
        }
      }
    }
  }

  .content-part {
    padding: 60px 15px 15px;
    position: relative;
    z-index: 999;
    .tabs-design {
      background: rgba(var(--theme-one-clr), 0.3);
      border-radius: 50px;
      padding: 0;
      margin-bottom: 15px;
      box-shadow: 0 0px 8px #157bb2;
      ion-segment {
        border-radius: 50px;
        ion-segment-button {
          margin: 0;
          min-height: 47px;
          --border-radius: 50px;
          color: var(--black-clr);
          --background: transparent;
          background: transparent;
          --border-width: 0px;
          ion-label {
            font-size: 0.875rem;
            font-weight: 600;
          }
          &.segment-button-checked {
            color: var(--theme-one-clr);
            background: var(--white-clr);
            --background: var(--white-clr);
            --indicator-color: var(--white-clr);
            --indicator-box-shadow: none;
            ion-label {
              font-weight: 700;
            }
          }
        }
      }
    }
    .details-part {
      padding: 10px 15px;
      background: rgba(var(--white-bg-rgb), 0.7);
      border-radius: 8px;
      // max-height: 320px;
      max-height: 38vh;
      overflow: auto;
      box-shadow: 0 -2px 2px var(--white-clr);
      margin-bottom: 15px;
      .details-box {
        border-bottom: 1px solid var(--white-clr);
        padding: 5px 0;
        h5 {
          margin: 0;
          padding: 0;
          color: var(--theme-one-clr);
          position: relative;
          font-size: 0.875rem;
          display: inline-block;
          font-weight: 400;
          &::after {
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 1px;
            width: 60%;
            background: var(--theme-one-clr);
            content: "";
          }
        }
        p {
          margin: 10px 0;
          color: var(--black-clr);
          font-weight: 600;
          font-size: 0.875rem;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    .highest-bid {
      padding: 5px 15px;
      background: rgba(var(--white-bg-rgb), 0.7);
      border-radius: 8px;
      box-shadow: 0 -2px 2px var(--white-clr);
      margin-bottom: 10px;
      ion-item {
        --min-height: 35px;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        ion-avatar {
          --border-radius: 8px;
          width: 34px;
          height: 34px;
          background: var(--theme-one-clr);
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          margin-right: 10px;
          img {
            max-width: 100%;
            width: 23px;
            height: 23px;
          }
        }
        ion-label {
          margin: 0;
          p {
            margin: 0;
            padding: 0;
            color: var(--theme-one-clr);
            font-size: 0.875rem;
            font-weight: 400;
          }
          span {
            margin: 10px 0;
            color: var(--black-clr);
            font-weight: 700;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

ion-footer {
  --background: transparent;
  ion-toolbar {
    --background: transparent;
    --border-width: 0;
    padding-left: 12px;
    padding-right: 12px;
    .buttons-swipe {
      padding: 5px 10px;
      // background: rgba(var(--white-bg-rgb), 0.7);
      background: #c8e6f6;
      border-radius: 100px;
      // box-shadow: 0 -2px 2px var(--white-clr);
      box-shadow: 0 0 6px #a5c3d3;
      margin-bottom: 5px;
      position: relative;
      .buttons-data {
        position: relative;
        z-index: 99;
        ion-item-sliding {
          ion-item-option {
            --background: transparent;
            background: transparent;
            width: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
            display: none;
          }
        }
        ion-item {
          --padding-start: 0px;
          --inner-padding-end: 0px;
          --background: transparent;
          --background-activated: transparent;
          --background-focused: transparent;
          --background-hover: transparent;
          ion-button {
            cursor: pointer;
            --background: transparent;
            --background-focused: transparent;
            --background-hover: transparent;
            --background-activated: transparent;
            --box-shadow: none;
            --padding-start: 0rem;
            --padding-end: 0rem;
            height: 58px;
            width: 58px;
            border-radius: 50%;
            box-shadow: 0 5px 7px #225889;
            margin-right: 0;
            img {
              height: 58px;
              width: 58px;
            }
            span {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              display: inline-block;
              color: var(--white-clr);
              font-weight: 700;
              height: fit-content;
              font-size: 1rem;
              word-break: break-word;
              white-space: normal;
            }
            &.button-disabled {
              opacity: 1;
              filter: grayscale(1);
            }
            &.ion-focusable {
              box-shadow: none;
            }
          }
        }
      }
      .swipe-data {
        position: absolute;
        right: 0;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0px 10px;
        width: 100%;
        bottom: 0;
        margin: auto;
        height: fit-content;
        ion-item {
          --padding-start: 0px;
          --inner-padding-end: 0px;
          --background: transparent;
          --background-activated: transparent;
          --background-focused: transparent;
          --background-hover: transparent;
          ion-label {
            text-align: center;
            img {
              max-width: 100%;
              opacity: 0.5;
              margin: 0 2px;
            }
            .one {
              margin-top: 1px;
            }

            .one,
            .two,
            .three {
              -webkit-animation: mouse-scroll 1s infinite;
              -moz-animation: mouse-scroll 1s infinite;
              animation: mouse-scroll 1s infinite;
            }

            .one {
              -webkit-animation-delay: 0.1s;
              -moz-animation-delay: 0.1s;
              -webkit-animation-direction: alternate;

              animation-direction: alternate;
              animation-delay: alternate;
            }

            .two {
              -webkit-animation-delay: 0.2s;
              -moz-animation-delay: 0.2s;
              -webkit-animation-direction: alternate;

              animation-delay: 0.2s;
              animation-direction: alternate;

              margin-top: -6px;
            }

            .three {
              -webkit-animation-delay: 0.3s;
              -moz-animation-delay: 0.3s;
              -webkit-animation-direction: alternate;

              animation-delay: 0.3s;
              animation-direction: alternate;

              margin-top: -6px;
            }

            @-webkit-keyframes mouse-scroll {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }
            @-moz-keyframes mouse-scroll {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }
            @-o-keyframes mouse-scroll {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }
            @keyframes mouse-scroll {
              0% {
                opacity: 0;
              }
              50% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }
          }

          ion-text {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            margin: 0;
            margin-right: 5px;
            text-align: right;
            p {
              color: var(--black-clr);
              font-size: 1.15rem;
              font-weight: 300;
              margin: 0;
            }
            span {
              color: var(--black-clr);
              font-size: 1.2rem;
              font-weight: 700;
              margin: 0;
            }
          }
        }
      }
    }
    .wanna-bubble {
      padding: 5px 15px;
      text-align: center;
      p {
        font-size: 0.75rem;
        color: var(--white-clr);
        margin: 0;
        font-weight: 500;
      }
    }
  }
}

.buble-part {
  margin: 0;
  padding: 0;
  .dots-bubble {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: inherit;
    overflow: hidden;
    top: 0px;
    left: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .dots {
    position: absolute;
    bottom: -100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 2s infinite ease-in;
    z-index: 99;
  }
  .dots:nth-child(1) {
    width: 25px;
    height: 25px;
    left: 10%;
    animation-duration: 9s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(2) {
    width: 15px;
    height: 15px;
    left: 20%;
    animation-duration: 9s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(3) {
    width: 35px;
    height: 35px;
    left: 35%;
    animation-duration: 12s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 50%;
    animation-duration: 15s;
    animation-delay: 0s;
    border: 2px solid #fff;
  }
  .dots:nth-child(5) {
    width: 25px;
    height: 25px;
    left: 55%;
    animation-duration: 10s;
    animation-delay: 1s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(6) {
    width: 30px;
    height: 30px;
    left: 65%;
    animation-duration: 12s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }
  .dots:nth-child(7) {
    width: 35px;
    height: 35px;
    left: 70%;
    animation-duration: 16s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(8) {
    width: 20px;
    height: 20px;
    left: 80%;
    animation-duration: 10s;
    animation-delay: 2s;
    border: 2px solid #fff;
  }
  .dots:nth-child(9) {
    width: 10px;
    height: 10px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 3s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(10) {
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 13s;
    animation-delay: 4s;
    border: 2px solid #fff;
  }

  .dots:nth-child(20) {
    width: 10px;
    height: 10px;
    left: 20%;
    animation-duration: 12s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(19) {
    width: 25px;
    height: 25px;
    left: 50%;
    animation-duration: 9s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(18) {
    width: 25px;
    height: 25px;
    left: 17%;
    animation-duration: 11s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(17) {
    width: 20px;
    height: 20px;
    left: 25%;
    animation-duration: 15s;
    animation-delay: 0s;
    border: 2px solid #fff;
  }
  .dots:nth-child(16) {
    width: 10px;
    height: 10px;
    left: 27%;
    animation-duration: 10s;
    animation-delay: 1s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(15) {
    width: 5px;
    height: 5px;
    left: 32%;
    animation-duration: 12s;
    animation-delay: 1s;
    border: 2px solid #fff;
  }
  .dots:nth-child(14) {
    width: 20px;
    height: 20px;
    left: 35%;
    animation-duration: 16s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(13) {
    width: 8px;
    height: 8px;
    left: 40%;
    animation-duration: 10s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }
  .dots:nth-child(12) {
    width: 27px;
    height: 27px;
    left: 35%;
    animation-duration: 9s;
    animation-delay: 2s;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 20%), inset 0px 0px 14px 5px #9ce5ff;
  }
  .dots:nth-child(11) {
    width: 32px;
    height: 32px;
    left: 10%;
    animation-duration: 14s;
    animation-delay: 3s;
    border: 2px solid #fff;
  }

  @keyframes rise {
    0% {
      bottom: -100px;
      transform: translateX(0);
    }
    50% {
      transform: translate(100px);
    }
    100% {
      bottom: 1080px;
      transform: translateX(-200px);
    }
  }
}

.no-data-found {
  text-align: center;
  max-width: 100%;
  padding: 15px;
  p {
    color: var(--white-clr);
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 20px 0;
    letter-spacing: 1px;
  }
}
.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  & h6 {
    font-size: 0.875rem;
    margin: 0;
    color: var(--white-clr);
    font-weight: 500;
  }
}
ion-select {
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 5px;
  background-color: rgba(255, 255, 255, 0.519);
  color: var(--black-clr);
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 6px;
  ion-item {
    ion-label {
      color: var(--black-clr);
    }
  }
}
